.recipe {
    width: 250px;
    
    div {
        width: 250px;
        height: 120px;
        border-radius: .5rem;
        overflow: hidden;
        position: relative;
        z-index: 1;

        img:first-child{
            width: 250px;
        }

        // TODO pb svg non hover car on ne voit pas le code du ficheir
        img:last-child{
            height: 20px;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 5;
        }
    }

    ul {
        display: flex;

        li {
            display: flex;

            img {
                height: 24px;
            }
        }
    }
}