.topHomePage {
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    margin: 0 3rem;
    background-image: url('../../assets/header-image.jpg');
    background-size: cover;
    background-position: top -30px left 0;
    background-repeat: no-repeat;
    color: white;
    border-radius: 1.5rem;

    h1 {
        width: 408px;
    }

    p {
        width: 538px;
        font-size: 20px;
        line-height: 1.7;
        margin: 2rem 0;
    }

    button { 
        display: flex;
        align-items: flex-end;
        color: white; 
        font-size: 18px;

        img {
            height: 16px;
            margin-left: 1rem;
        }
    }
}