<app-multiple-inputs
    labelTitle="Difficulté :"
    inputId="difficultyInputs"
    [required]="true">
    <label for="difficulties">
        <input type="range"
            id="difficulties"
            name="difficulties"
            min="0"
            [max]="difficulties.length"
            step="1"
            (input)="onInputChange($event)"
            [value]="recipeDifficultyValue"
            style="padding:0;"
            [formControlName]="controlName" />
    </label>

    <p>{{ getDifficulty() }}</p>
</app-multiple-inputs>
