@use '../../utils/variables' as *;
@use '../../utils/mixins' as *;

$mg: 1.5rem;
$sizeWrapperIcon: 64px;

.signInSection {
    width: $sectionWidth;
    display: flex;
    justify-content: space-between;
    margin: 5rem auto;

    @media screen and (max-width: 767px) {
        width: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 1.5rem 1rem 0 1rem;
        margin: 0 auto;
    }

    .leftContainer, .rightContainer {
        width: 45%;

        @media screen and (max-width: 767px) {
            width: 100%;
            padding: 0 !important;
            margin: 1.5rem 0;
        }
    }

    .leftContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 0;
        @include socialNetworks(
            center, // justify-content
            $mg auto, // margin ul
            0 .75rem, // margin li
            $facebook, // border color second social icon ...
            $google,
            $linkedin
        );

        form {
            width: 90%;
            display: flex;
            flex-direction: column;
            margin-top: $mg;

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            a {
                text-align: center;
                margin-bottom: $mg;
            }

            button {
                margin: 0 auto;
            }
        }
    }

    .rightContainer {
        border-radius: 1.5rem;
        background-image: url('../../../../public/signin-image.jpg');
        background-size: cover;
        background-position: top left 42%;
        overflow: hidden;

        .imgRightContainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.4);
            color: white;

            @media screen and (max-width: 767px) {
                text-align: center;
            }

            h2 {
                line-height: 1.4;
            }

            p {
                margin: 2rem 0;
                font-size: 18px;
                line-height: 1.5;
            }
        }
    }
}

.signUpSection {
    width: $sectionWidth;
    display: flex;
    justify-content: space-between;
    margin: 5rem auto;

    @media screen and (max-width: 767px) {
        width: auto;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        padding: 1.5rem 1rem 0 1rem;
        margin: 0 auto;
    }

    .leftContainer, .rightContainer {
        width: 45%;

        @media screen and (max-width: 767px) {
            width: 100%;
            padding: 0 !important;
            margin: 1.5rem 0;
        }
    }

    .leftContainer {
        border-radius: 1.5rem;
        background-image: url('../../../../public/signup-image.jpg');
        background-size: cover;
        background-position: top right;
        overflow: hidden;

        .imgRightContainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.35);
            color: white;

            h2 {
                line-height: 1.4;
            }

            p {
                margin: 2rem 0;
                font-size: 18px;
                line-height: 1.5;
            }
        }
    }

    .rightContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        @include socialNetworks(
            center, // justify-content
            $mg auto, // margin ul
            0 .75rem, // margin li
            $facebook, // border color second social icon ...
            $google,
            $linkedin
        );

        h2 {
            margin-bottom: 1.5rem;
        }

        form {
            width: 90%;
            display: flex;
            flex-direction: column;
            margin-top: $mg;

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            .wrapperIcon {
                width: $sizeWrapperIcon;
                height: $sizeWrapperIcon;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 1rem auto;
                border: 3px solid $mediumGrey;
                border-radius: 3rem;

                img {
                    height: 36px;
                }
            }

            input[type=file] {
                width: max-content;
                padding: 1rem 2rem;
                margin: .5rem auto 0 auto;
                background-color: $darkGrey;
                color: white;
                border-radius: 1rem;

                @media screen and (max-width: 767px) {
                    width: 100%;
                    margin: 1rem auto 2rem auto;
                }
            }

            input[type=file]::file-selector-button {
                margin-right: 1rem;
                border: 0;
                border-radius: .5rem;
                background-color: white;
                color: $darkGrey;
                padding: 8px 12px;
              }

            a {
                text-align: center;
                margin-bottom: $mg;
            }

            button {
                margin: 0 auto;
            }
        }
    }
}

.signUpSection .msgError {
    margin-top: 1rem;
    color: red;
}

.signInSection .msgError {
    margin-bottom: 1.5rem;
    color: red;
    text-align: center;
}
