@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

.homeRecipesSection {
    display: flex;
    padding: 0 3rem;
    margin-bottom: 6rem;

    @media only screen and (max-width: 767px) {
        flex-direction: column;
        padding: 0 1rem;
    }

    .mobileRecipesFilter .recipesHeader {
        display: none;

        @media only screen and (max-width: 767px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    select {
        @include arrowsSelectStyle($firstColor, white);

        @media only screen and (max-width: 767px) {
            padding: .75rem 1.5rem;

            background-position: 
                calc(100% - 20px) 24px,
                calc(100% - 15px) 24px,
                calc(100% - 2.5em) 5px,
                calc(100% - 20px) 15px,
                calc(100% - 15px) 15px,
                calc(100% - 2.5em) 5px;
        }
    }

    
    
    .recipesContainer {
        width: 100%;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 767px) {
            .recipesHeader {
                display: none;
            }
        }

        .recipesList {
            @include gridRecipes(1fr 1fr 1fr);

            @media only screen and (max-width: 767px) {
                display: flex;
                flex-direction: column;
            }
        }
    }
}