@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

.homeRecipesSection {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: repeat(2, max-content);
    padding: 0 3rem;
    margin-bottom: 6rem;

    @media (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, max-content);
        padding: 0 1rem;
        margin: 0;
    }

    app-recipes-filter {
        grid-column: 1/2;
        grid-row: 1/3;

        @media (max-width: 767px) {
            width: 200%;
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }

    .recipesSearchForm {
        grid-column: 2/3;
        grid-row: 1/2;

        @media (max-width: 767px) {
            grid-column: 1/3;
            grid-row: 2/3;
        }

        label {
            width: 90%;

            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }

    app-sort-by-select {
        grid-column: 3/4;
        grid-row: 1/2;

        @media (max-width: 767px) {
            width: max-content;
            grid-column: 2/3;
            grid-row: 1/2;
        }

        .sortBySelectContainer {
            margin: 0 0 0 auto;

            @media (max-width: 767px) {
                width: 80%;
                padding: .75rem 1.5rem;

                select {
                    width: 80%;
                }
            }
        }
    }

    .recipesContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-column: 2/4;
        grid-row: 2/3;

        @media (max-width: 767px) {
            grid-column: 1/3;
            grid-row: 3/4;
        }

        .recipesList {
            @include gridRecipes(1fr 1fr 1fr);

            @media (max-width: 767px) {
                flex-direction: column;
            }
        }
    }
}