@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

.homeRecipesSection {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-row: 1fr 1fr;
    padding: 0 3rem;
    margin-bottom: 6rem;

    @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        padding: 0 1rem;
    }

    select {
        @include arrowsSelectStyle($firstColor, white);

        @media only screen and (max-width: 767px) {
            padding: .75rem 1.5rem;

            background-position: 
                calc(100% - 20px) 24px,
                calc(100% - 15px) 24px,
                calc(100% - 2.5em) 5px,
                calc(100% - 20px) 15px,
                calc(100% - 15px) 15px,
                calc(100% - 2.5em) 5px;
        }
    }

    app-recipes-filter {
        grid-column: 1/2;
        grid-row: 1/3;

        @media only screen and (max-width: 767px) {
            width: 200%;
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }

    .recipesHeader {
        grid-column: 2/3;
        grid-row: 1/2;

        @media only screen and (max-width: 767px) {
            grid-column: 1/3;
            grid-row: 2/3;
        }
    }

    app-sort-by-select {
        width: auto;
        grid-column: 3/4;
        grid-row: 1/2;

        @media only screen and (max-width: 767px) {
            width: 100%;
            grid-column: 2/3;
            grid-row: 1/2;
            margin: 0 0 0 auto;
        }
    }

    .recipesContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-column: 2/4;
        grid-row: 2/3;

        @media only screen and (max-width: 767px) {
            grid-column: 1/3;
            grid-row: 3/4;
        }

        .recipesList {
            @include gridRecipes(1fr 1fr 1fr);

            @media only screen and (max-width: 767px) {
                display: flex;
                flex-direction: column;
            }
        }
    }
}