@use '../../utils/variables' as *;
@use '../../utils/mixins' as *;

.myfavorites-myrecipes {
    h2 {
        margin-bottom: 2rem;
    }

    form {
        width: 80%;

        div.searchMyfavoritesMyrecipesDiv {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .75rem 2rem;
            border: 2px solid $darkGrey;
            border-radius: 3rem;

            input {
                width: 100%;
                font-size: 16px;
                border: 0;
            }
    
            button {
                width: 36px;
                height: 36px;
                margin-left: 2rem;

                @include svgStyle(32px, $firstColor);
            }
        }
    }

    .myFavoritesDiv {
        margin-top: 3rem;

        .myFavoritesItems {
            @include gridRecipes(1fr 1fr 1fr);
        }
    }
}