@use '../../utils/variables' as *;
@use '../../utils/mixins' as *;

$sizeImgRecipe: 500px;

.recipePage {
    padding-top: 3rem;
}

.recipePage section:not(.otherRecipes) {
    width: $sectionWidth;
    margin: 0 auto 5rem auto;
}

.recipePresentation {
    display: flex;
    justify-content: space-between;

    .recipePresentationLeft {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .wrapperImage {
            width: 100%;
            height: $sizeImgRecipe;
            display: flex;
            justify-content: center;
            border-radius: 1rem;
            overflow: hidden;
    
            img {
                width: auto;
                height: $sizeImgRecipe;
            }
        }

        .recipeCuisineType {
            display: flex;
            margin: 1rem 0;
            font-weight: 600;

            p {
                margin-right: 2rem;

                span {
                    color: $firstColor;
                }
            }

            @include svgStyle(20px, $firstColor);
        }

        .recipeAuthor {
            display: flex;
            justify-content: space-between;
    
            ul:first-child {
                width: 50%;
    
                li:last-child p {
                    color: $darkGrey;
                }
    
                span { 
                    color: $firstColor;
                }
            }
    
            ul:last-child {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
    
                img {
                    height: 24px;
                }
    
                li {
                    margin-left: 1rem;
                }
    
                li:first-child {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid $mediumGrey;
                    border-radius: 2rem;
    
                    img {
                        height: 16px;
                    }
                }
            }
        }
    }

    .recipeDescription {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > p {
            margin: 2rem 0 1rem 0;
            color: $darkGrey;
            line-height: 1.5;
        }

        .recipeTime {
            width: 100%;
            display: flex;
            justify-content: space-between;

            hr {
                margin: 1rem 0;
            }
        }

        hr {
            border: 1px solid $lightGrey;
        }
    }
}

.recipePresentationBorder {
    margin: -1.5rem auto 5rem auto;
    border: 1px solid $lightGrey;
}

.recipeDetails {
    display: flex;
    justify-content: space-between;

    h3 {
        margin-bottom: 2rem;
    }

    .recipeStepsComments {
        width: 68%;

        .commentsContainer {
            display: flex;
            flex-direction: column;

            .commentAndAnswers {
                overflow: hidden;

                &:not(.commentAndAnswers:last-child) {
                    margin-bottom: 3rem;
                }
            }
        }

        .dividingStepsComments {
            margin: 5rem 0;
            border: 1px solid $lightGrey;
        }
    }

    .recipeIngredientsTagsShare {
        min-width: 27%;

        .recipeIngredients, .recipeTags {
            margin-bottom: 5rem;
        }

        .recipeIngredients {
            ul li {
                padding: 0 1rem;
            }
    
            ul li:not(li:last-child) {
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 2px solid $lightGrey;
            }
        }

        .recipeTags {
            max-width: 330px;

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    width: max-content;
                    padding: .5rem 1rem;
                    margin: 0 .5rem .5rem 0;
                    background-color: $lightGrey;
                    color: $darkGrey;
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                    border-radius: .5rem;
                }
            }
        }

        .recipeShare {
            @include socialNetworks(
                flex-start, // justify-content
                0 auto, // margin ul
                0 1.5rem 0 0, // margin li
                $facebook, // border color second social icon ...
                $linkedin,
                $x-twitter
            );
        }
    }
}

.otherRecipes {
    padding: 6rem 4rem;
    background-color: $lightBrown;

    h3 {
        max-width: $sectionWidth;
        margin: 0 auto 2rem auto;
    }

    .otherRecipesList {
        max-width: $sectionWidth;
        @include gridRecipes(1fr 1fr 1fr 1fr);
        margin: 0 auto;

        a {
            max-width: max-content;
        }
    }
}