@use '../../utils/variables' as *;
@use '../../utils/mixins' as *;

$sizeImgRecipe: 500px;

div.recipePage {
    padding-top: 3rem;

    @media only screen and (max-width: 767px) {
        padding-top: 1.5rem;
    }

    section {
        @media only screen and (max-width: 767px) {
            width: auto !important;
            display: grid;
            justify-content: center;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;
            margin: 0 auto !important;
        }
    }

    section:not(section.recipeSectionBorder, section.recipeDetails, section.otherRecipes) {
        @media only screen and (max-width: 767px) {
            padding: 2rem 1rem !important;
        }
    }
}

.recipePage section:not(.otherRecipes) {
    width: $sectionWidth;
    margin: 0 auto 5rem auto;
}

.recipePresentation {
    display: grid;
    grid-template-columns: 45% 1fr;
    grid-auto-columns: 0;
    grid-template-rows: repeat(2, max-content);
    grid-auto-rows: 0;
    column-gap: 6rem;

    @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-auto-columns: 0;
        grid-template-rows: repeat(3, max-content);
        grid-auto-rows: 0;
        column-gap: 0;
    }

    .recipePresentationLeft {
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and (max-width: 767px) {
            max-width: calc(100vw - 2rem);
            grid-column: 1/2;
            grid-row: 2/3;
            align-items: center;
        }

        .wrapperImage {
            width: auto;
            height: $sizeImgRecipe;
            display: flex;
            justify-content: center;
            border-radius: 1rem;
            overflow: hidden;

            @media only screen and (max-width: 767px) {
                width: 100%;
                height: calc(100vw - 2rem);
            }

            img {
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
        }

        .recipeCuisineType {
            display: flex;
            margin: 1rem 0;
            font-weight: 600;

            p {
                margin-right: 2rem;

                @media only screen and (max-width: 767px) {
                    text-align: center;
                }

                span {
                    color: $firstColor;
                }
            }

            @include svgStyle(20px, $firstColor);
        }

        .recipeAuthor {
            display: flex;
            justify-content: space-between;

            @media only screen and (max-width: 767px) {
                width: 100%;
                margin-bottom: 2rem;
            }

            ul:first-child {
                width: 50%;

                li:last-child p {
                    color: $darkGrey;
                }

                span {
                    color: $firstColor;
                }
            }

            ul:last-child {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                img {
                    height: 24px;
                }

                li {
                    margin-left: 1rem;
                }

                li:first-child {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid $mediumGrey;
                    border-radius: 2rem;

                    img {
                        height: 16px;
                    }
                }
            }
        }
    }

    .recipeDescription {
        width: 100%;
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media only screen and (max-width: 767px) {
            width: 100%;
            grid-column: 1/2;
            grid-row: 1/2;
            text-align: center;
        }

        & > p {
            margin: 2rem 0 1rem 0;
            color: $darkGrey;
            line-height: 1.5;

            @media only screen and (max-width: 767px) {
                margin: 1rem auto 2rem auto;
            }
        }
    }

    .recipeTime {
        width: 100%;
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 767px) {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        hr {
            margin: 1rem 0;
        }
    }

    hr {
        border: 1px solid $lightGrey;
    }
}

section.recipeSectionBorder {
    width: 100%;
    height: 2px;
    display: flex !important;

    .recipeBorder {
        width: 100%;
        border: 1px solid $lightGrey;

        @media only screen and (max-width: 767px) {
            width: 100%;
            margin: 2rem 0;
        }
    }
}

.recipeDetails {
    display: grid;
    grid-template-columns: 1fr 32%;
    grid-auto-columns: 0;
    column-gap: 5rem;
    grid-template-rows: max-content max-content 1fr;
    grid-auto-rows: 0;
    row-gap: 3rem;

    @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-auto-columns: 0;
        column-gap: 0;
        grid-template-rows: repeat(6, max-content);
        grid-auto-rows: 0;
        row-gap: 0;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
    }

    div.recipeIngredients,
    div.recipeSteps,
    div.recipeComments,
    div.recipeTags,
    div.recipeShare {
        &__mobile {
            display: none !important;
        }

        @media only screen and (max-width: 767px) {
            padding: 1.5rem 0;

            &__desktop {
                display: none !important;
            }

            &__mobile {
                width: 100%;
                display: flex !important;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    h3 {
        margin-bottom: 2rem;

        @media only screen and (max-width: 767px) {
            margin-bottom: 1rem;
            text-align: center;
        }
    }

    div.recipeSteps {
        height: max-content;
        grid-column: 1/2;
        grid-row: 1/2;

        @media only screen and (max-width: 767px) {
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }

    nav.recipeIngredientsTagsShare {
        grid-column: 2/3;
        grid-row: 1/4;

        .recipeIngredients, .recipeTags {
            margin-bottom: 5rem;
        }

        .wrapperNavImage {
            width: 100%;
            height: max-content;
            object-fit: cover;
            grid-column: 2/3;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 3rem;
            border-radius: 1rem;
            overflow: hidden;

            @media only screen and (max-width: 767px) {
                display: none;
            }

            img {
                width: 110%;
            }
        }
    }

    .recipeIngredients {
        &__desktop {
            ul li {
                padding: 0 1rem;
            }

            ul li:not(li:last-child) {
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 2px solid $lightGrey;
            }
        }

        @media only screen and (max-width: 767px) {
            &__mobile {
                flex-direction: column;
                align-items: center;
                grid-column: 1/2;
                grid-row: 1/2;
                padding-top: 0;

                ul {
                    display: flex;
                    flex-direction: column;

                    li {
                        padding: 0;
                        margin-bottom: 1rem;
                        text-align: center;
                        border: 0;
                    }
                }
            }
        }
    }

    .recipeTags {
        max-width: 330px;

        @media only screen and (max-width: 767px) {
            width: 100%;
            grid-column: 1/2;
            grid-row: 5/6;
            margin: 0 auto;
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: max-content;
                padding: .5rem 1rem;
                margin: 0 .5rem .5rem 0;
                background-color: $lightGrey;
                color: $darkGrey;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                border-radius: .5rem;
            }
        }
    }

    .recipeShare {
        @include socialNetworks(
            flex-start, // justify-content
            0 auto, // margin ul
            0 1.5rem 0 0, // margin li
            $facebook, // border color second social icon ...
            $linkedin,
            $x-twitter
        );

        &__mobile {
            display: none
        }

        @media only screen and (max-width: 767px) {
            &__desktop {
                display: none;
            }

            &__mobile {
                grid-column: 1/2;
                grid-row: 6/7;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    hr.dividingStepsComments {
        width: 100%;
        height: 2px;
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0 auto;
        border: 1px solid $lightGrey;

        @media only screen and (max-width: 767px) {
            grid-column: 1/2;
            grid-row: 3/4;
            margin: 1.5rem 0;
        }
    }

    div.recipeComments {
        grid-column: 1/2;
        grid-row: 3/4;

        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 767px) {
            grid-column: 1/2;
            grid-row: 4/5;
        }

        .writeCommentBtn {
            margin-top: 0;
        }

        .recipeAverage {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;

            img {
                height: 20px;
                margin-right: .5rem;
            }
        }

        a {
            margin: auto auto 3rem 0;
        }

        .noCommentsContainer {
            display: flex;
            align-items: center;

            img {
                height: 180px;
                margin-right: 2rem;
            }

            @media only screen and (max-width: 767px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            p {
                margin-bottom: 2rem;

                @media only screen and (max-width: 767px) {
                    margin-bottom: 1rem;
                    text-align: center;
                }
            }
        }

        .commentsContainer {
            display: flex;
            flex-direction: column;

            .commentAndAnswers {
                overflow: hidden;

                &:not(.commentAndAnswers:last-child) {
                    margin-bottom: 3rem;

                    @media only screen and (max-width: 767px) {
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
    }
}

section.otherRecipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 4rem;
    background-color: $lightBrown;

    @media only screen and (max-width: 767px) {
        display: flex;
        padding: 4rem 0;
    }

    h3 {
        max-width: $sectionWidth;
        margin: 0 auto 2rem auto;

        @media only screen and (max-width: 767px) {
            text-align: center;
        }
    }

    .otherRecipesList {
        max-width: $sectionWidth;
        @include gridRecipes(1fr 1fr 1fr 1fr);
        //margin: 0 auto;

        a {
            max-width: max-content;

            @media only screen and (max-width: 767px) {
                max-width: 100%;
            }
        }
    }
}
