@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

.videosSection {
    width: 1216px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 6rem auto;

    @include arrowsSelectStyle(white);
    
    h2 {
        margin-bottom: 2.5rem;
    }

    select {
        width: 180px;
        height: max-content;
        display: flex;
        padding: 1rem 2rem;
        background-color: $firstColor;
        color: white;
        font-size: 16px;
        border: 0;
        border-radius: 3rem;

        background-position: 
            calc(100% - 20px) 28px, 
            calc(100% - 15px) 28px, 
            calc(100% - 2.5em) 16px, 
            calc(100% - 20px) 19px, 
            calc(100% - 15px) 19px, 
            calc(100% - 2.5em) 16px;
    }
    
    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        iframe {
            width: 250px;
            height: 450px;
            border: 0;
            border-radius: 1.5rem;
        }
    }
}