@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

$arrowMg: 1rem;

.videosSection {
    width: 1216px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 6rem auto;

    @media only screen and (max-width: 767px) {
        width: auto;
        padding: 3rem 1rem;
    }
    
    h2 {
        margin-bottom: 2.5rem;
    }

    a {
        height: max-content;
        font-weight: 700;
    }

    .videosSliderWrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        /* button, app-chevron-down-icon, svg {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            width: 20px;
            height: 32px;

            app-chevron-down-icon {
                width: 32px;
                height: 32px;

                svg {
                    width: 32px;
                    height: max-content;
                }
            }            
        }
        button:first-child {
            margin-right: $arrowMg;

            svg {
                transform: rotate(90deg);
            }
        }
        button:last-child {
            margin-left: $arrowMg;

            svg {
                transform: rotate(-90deg);
            }
        }

        .wrapperVideos {
            max-width: calc(282px * 4);
            overflow: hidden;

            ul.videosList {
                display: flex;
                justify-content: space-between;
                
                li {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 1rem;
    
                    youtube-player {
                        width: 250px;
                        height: 450px;
                        border-radius: 1.5rem;
            
                        @media only screen and (max-width: 767px) {
                            width: 150px;
                            height: 300px;
                        }
                    }
                }
            }

            youtube-player {
                width: 250px;
                height: 450px;
                display: flex;
                border-radius: 1.5rem;
    
                @media only screen and (max-width: 767px) {
                    width: 150px;
                    height: 300px;
                }
            }
        } */
    }
}