@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

.videosSection {
    width: 1216px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 6rem auto;

    @media only screen and (max-width: 767px) {
        width: auto;
        padding: 3rem 1rem;
    }
    
    h2 {
        margin-bottom: 2.5rem;
    }

    select {
        @include arrowsSelectStyle($firstColor, white);
    }

    .videosSliderWrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        app-chevron-down-icon svg {
            width: 32px;
        }
        app-chevron-down-icon:first-child svg{
            transform: rotate(90deg);
        }
        app-chevron-down-icon:last-child svg {
            transform: rotate(-90deg);
        }

        .wrapperVideos {
            width: 100%;

            ul.videosList {
                width: 100%;
                display: flex;
                justify-content: space-between;

                li {
                    width: 100%;
                    iframe {
                        width: 250px;
                        height: 450px;
                        border-radius: 1.5rem;
            
                        @media only screen and (max-width: 767px) {
                            width: 150px;
                            height: 300px;
                        }
                    }
                }
            }
        }
    }
}