<section class="myfavorites-myrecipes">
    <h2>{{ title() }}</h2>

    <form *ngIf="isFavorites()">
        <div class="searchMyfavoritesMyrecipesDiv">
            <input 
                type="text" 
                name="searchMyfavorites" 
                id="searchMyfavorites" 
                placeholder="Rechercher parmi les favoris">
            <button type="button">
                <app-search-icon />
            </button>
        </div>
    </form>

    <!-- @If FAVORITES : -->
    <div *ngIf="isFavorites()" class="myFavoritesDiv">
        <div class="myFavoritesItems">
            @for (fav of favoritesArray(); track fav.id) {
                <app-recipe-item 
                    [id]="fav.id"
                    [picture]="fav.image"
                    [name]="fav.title"
                    [average]="getAverage(fav.id, favoritesArray())"
                    [numberOfVotes]="fav.opinions?.length"
                    [authorName]="fav.author.username" />
            }
        </div>
    </div>

    <!-- @If RECIPES : -->
    <table *ngIf="isRecipes()" class="myRecipesTable">
        <thead>
            <tr>
                <th class="myrecipeCheckbox">
                    <input type="checkbox" name="recipesSelectAll" id="recipesSelectAll">
                </th>
                <th class="myrecipeName">Nom de la recette</th>
                <th class="myrecipeCreationDate">Date de création</th>
                <th class="myrecipeOpinion">Avis</th>
                <th class="myrecipeButtons"></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="myrecipeCheckbox">
                    <input type="checkbox" name="" id="">
                </td>
                <td class="myrecipeName">
                    <a href="/recettes">Salade César façon provençale</a>
                </td>
                <td class="myrecipeCreationDate">Créée le 16 novembre 2025</td>
                <td class="myrecipeOpinion">3,6(125 notes)</td>
                <td class="myrecipeButtons">
                    <button type="button">
                        <a href="profil/mes-recettes/modifier">
                            <app-modify-icon />
                        </a>
                    </button>
                    <button type="button">
                        <app-delete-icon />
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</section>