<div class="profilePage">
    <section class="profileLinksSection">
        <app-header-profile />
    </section>

    <section class="profileSection profileSection__adminAllRecipes">
        <h2>Toutes les recettes du site</h2>

        <table class="myRecipesTable adminAllRecipesTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom de la recette</th>
                <th>Type de cuisine</th>
                <th>Difficulté</th>
                <th>Temps total</th>
                <th>Date de création</th>
                <th class="userButtons"></th>
            </tr>
            </thead>

            <tbody>
                <!--@for (user of usersList(); track user.id) {
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>
                            {{ user.username }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>

                        <td>
                            @if (user.roleId === 3) {
                                User
                            } @else {
                                Admin
                            }
                        </td>

                        <td>{{ user.created }}</td>

                        <td>
                            <button
                                type="button"
                                class="btn-bg-darkGrey modifyRecipe"
                                [routerLink]="user.id"
                            >Modifier</button>
                            <button type="button" class="deleteRecipe" (click)="showPopUpTrue()">
                                <app-delete-icon />
                            </button>

                            <app-pop-up
                                [isShow]="showPopUp()"
                                labelName="l'utilisateur"
                                (deleteFunction)="deleteUser(user.id)"
                                (cancelFunction)="showPopUpFalse()"
                            />
                            &lt;!&ndash;(deleteFunction)="deleteUserRecipe(recipe.id)"
                            (cancelFunction)="showPopUpFalse()"&ndash;&gt;
                        </td>
                    </tr>
                }-->
            </tbody>
        </table>
    </section>
</div>
