@use '../utils/variables' as *;
@use '../utils/mixins' as *;

footer {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    background-color: white;

    @media only screen and (max-width: 767px) {
        width: auto;
        padding: 3rem 1rem;
    }

    @include socialNetworks(
        flex-end, // justify-content
        0 auto, // margin ul
        0 0 2rem 1.5rem, // margin li
        $facebook, // border color second social icon ...
        $linkedin,
        $x-twitter
    );

    .socialNetworks {
        width: $sectionWidth;

        @media only screen and (max-width: 767px) {
            width: auto;

            li {
                margin: 0 0 1rem .5rem;
            }
        }

        li {
            margin: 0 0 2rem 1.5rem;
        }
    }

    .linksFooter {
        width: $sectionWidth;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        @media only screen and (max-width: 767px) {
            width: auto;
            flex-direction: column;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;

            li {
                margin: .5rem 0;
                font-weight: 500;
            }
        }
    }

    p {
        width: $sectionWidth;
        margin: 2rem auto 0 auto;
        font-weight: 500;
        color: $mediumGrey;

        @media only screen and (max-width: 767px) {
            width: auto;
            margin: 1rem auto 0 auto;
        }
    }
}
