@use '../utils/variables' as *;
@use '../utils/mixins' as *;

footer {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    background-color: white;

    @media only screen and (max-width: 767px) {
        width: auto;
        padding: 3rem 1rem;
        position: relative;
        z-index: 0;
        top: 80px; // 80
    }

    @include socialNetworks(
        flex-end, // justify-content
        0 auto, // margin ul
        0 0 2rem 1.5rem, // margin li
        $facebook, // border color second social icon ...
        $linkedin,
        $x-twitter
    );

    @media screen and (max-width: 767px) {
        @include socialNetworks(
            center, // justify-content
            0 auto 1.5rem auto, // margin ul
            0 0 1rem .5rem, // margin li
            $facebook, // border color second social icon ...
            $linkedin,
            $x-twitter
        );
    }

    .socialNetworks {
        width: $sectionWidth;

        @media screen and (max-width: 767px) {
            width: auto;
        }
    }

    .navigation {
        width: $sectionWidth;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        @media only screen and (max-width: 767px) {
            width: auto;
            flex-direction: column;
            align-items: center;
            margin: 0 auto 1rem auto;
        }

        li {
            margin: .5rem 0;
            font-weight: 500;

            &:hover {
                color: $firstColor;
            }
        }
    }

    p {
        width: $sectionWidth;
        margin: 3rem auto 0 auto;
        font-weight: 500;
        color: $mediumGrey;

        @media only screen and (max-width: 767px) {
            width: auto;
            margin: 1rem auto 0 auto;
        }
    }
}
