@use '../utils/variables' as *;
@use '../utils/mixins' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;

    @media only screen and (max-width: 767px) {
        padding: 1rem 1.5rem;
        margin-bottom: 1rem;
    }

    .navigationLeft {      
        display: flex;
        
        @media only screen and (max-width: 767px) {
            display: none;
            flex-direction: column;
        }

        li {
            margin-right: 2rem;
        }
    }

    .navigationRight {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include svgStyle(24px, $darkGrey);

        @media only screen and (max-width: 767px) {
            width: 100%;
            justify-content: flex-end;

            .btn-transparent {
                margin: 0 2rem;
                background-color: $firstColor;
                color: white;
                border: 2px solid $firstColor;
                border-radius: 3rem;

                &.active {
                    background-color: white;
                }
            }

            .btn-bg-red {
                display: none;
            }
        }
    }

    a:hover, div > a:not(.btn-bg-red):hover {
        text-decoration: underline;
    }

    .active {
        color: $firstColor;
        text-decoration-color: $firstColor;
    }

    a.btn-bg-red.active {
        background-color: white;
    }

}