@use '../utils/variables' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;

    .navigationLeft {      
        display: flex;      

        li {
            margin-right: 2rem;
        }
    }

    .navigationRight {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: auto;
            height: 24px;
        }

        a {
            margin-left: 2.5rem;
        }
    }

    li:hover, div > a:not(.btn-bg-red):hover {
        text-decoration: underline;
    }

    .active {
        color: $firstColor;
    }

    .active:hover {
        text-decoration-color: $firstColor;
    }

    a.btn-bg-red.active {
        background-color: white;
    }
}