<div class="recipePage">
    <!-- SECTION : Recipe presentation -->
    <section class="recipePresentation">
        <div class="wrapperImage">
            <img [src]="recipe.image" alt="recipe picture">
        </div>

        <div class="recipeDescription">
            <h2>{{ recipe.title }}</h2>

            <p>{{ recipe.description }}</p>

            <div class="recipeTime">
                <app-recipe-item-time
                    icon="clock-regular.svg"
                    title="Temps de prépapration"
                    [text]="recipe.activeTime"
                    unit="min" />

                <hr class="verticalBorder" />

                <app-recipe-item-time
                    icon="total-time.svg"
                    title="Temps total"
                    [text]="recipe.totalTime"
                    unit="min" />

                <hr class="verticalBorder" />

                <app-recipe-item-time
                    icon="users.svg"
                    title="Parts"
                    [text]="recipe.yieldServes"
                    unit="personnes" />
            </div>

            <hr class="horizontalBorder" />

            <div class="recipeDescriptionEnd">
                <ul>
                    <li>
                        <p>Créé par <span>{{ recipe.author.username }}</span></p>
                    </li>
                    <li>
                        <p>{{ recipe.author.numberOfRecipes }} recettes</p>
                    </li>
                </ul>

                <ul>
                    <li>
                        <img src="plus-solid.svg" alt="add recipe">
                    </li>
                    <li>
                        <img src="print-solid.svg" alt="print recipe">
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- ########## -->

    <!-- SECTION : Recipe details -->
    <section class="recipeDetails">
        <!-- CONTAINER : Recipe steps and comments -->
        <div class="recipeStepsComments">
            <!-- Recipe steps -->
            <div class="recipeSteps">
                <h3>Étape de préparation</h3>
    
                <div class="stepsContainer">
                    @for (step of recipe.steps; track step.id) {
                        <app-recipe-step 
                            [nbStep]="getNumberStep(step.id)"
                            [description]="step.description" />
                    }
                </div>
            </div>

            <hr class="dividingStepsComments">

            <!-- Recipe comments -->
            <div class="recipeComments">
                <h3>Commentaires</h3>
    
                <div class="commentsContainer">
                    @for (opinion of recipe.opinions; track opinion.id) {
                        <div class="commentAndAnswers">
                            <div #commentRef>
                                <app-recipe-comment
                                [classes]="getClassComment(recipe.author.username)"
                                [ids]="'commentId' + opinion.id"
                                [picture]="opinion.author.picture"
                                [username]="opinion.author.username"
                                [date]="opinion.created"
                                [note]="opinion.starScore"
                                [text]="opinion.text"
                                [answersArray]="opinion.answers.length" />
                            </div>
    
                            @if(opinion.answers.length > 0) {
                                <div class="answersList" [id]="'answersList' + opinion.id"> <!-- [appShowCommentAnswers]="'answersList' + opinion.id" -->
                                    @for (answer of opinion.answers; track answer.id) {
                                        <app-recipe-comment
                                            [classes]="getClassComment(recipe.author.username, answer.author.username)"
                                            [ids]="'answerId' + answer.id"
                                            [picture]="answer.author.picture"
                                            [username]="answer.author.username"
                                            [date]="answer.created"
                                            [text]="answer.text" />
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- END -->

        <!-- CONTAINER : Recipe ingredients and share icons -->
        <nav class="recipeIngredientsTagsShare">
            <!-- Recipe ingredients -->
            <div class="recipeIngredients">
                <h3>Ingrédients</h3>

                <ul class="ingredientList">
                    @for (ingredient of recipe.ingredientsList; track ingredient.id) {
                        <li class="ingredient">{{ getQuantityIngredient(ingredient.id) }} {{ ingredient.unit }} {{ ingredient.name }}</li>
                    }
                </ul>
            </div>

            <!-- Recipe tags -->
            <div class="recipeTags">
                <h3>Tags</h3>

                <ul class="tagList">
                    @for (tag of recipe.tags; track tag.id) {
                        <li class="tag"> {{ tag.name }}</li>
                    }
                </ul>
            </div>

            <div class="recipeShare">
                <h3>Partager la recette</h3>

                <ul class="socialNetworks">
                    <li>
                        <a href="https://facebook.com" target="_blank">
                            <img src="facebook.svg" alt="facebook icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://linkedin.com" target="_blank">
                            <img src="linkedin-in.svg" alt="linkedin icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://x.com" target="_blank">
                            <img src="x-twitter.svg" alt="x twitter icon">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- END -->
    </section>
    <!-- ########## -->

    <section class="otherRecipes">
        <h3>Autres recettes que vous pourriez aimer</h3>

        <div class="otherRecipesList">
            @for (recipe of getOtherRecipesList(); track recipe.id;) {
                <app-recipe-item
                    [id]="recipe.id"
                    [picture]="recipe.image" 
                    [name]="recipe.title" 
                    [average]="getAverage(recipe.id)" 
                    [numberOfVotes]="recipe.opinions?.length"
                    [authorName]="recipe.author.username"
                />
            }
        </div>
    </section>
</div>
