<!-- Liste Ingrédients -->
<app-multiple-inputs
    labelTitle="Liste des ingrédients :"
    inputId="ingredientsListInputs"
    [required]="true">
    <ul>
        <li>
            <label for="numberIngredient">
                <input type="number"
                    id="numberIngredient"
                    name="numberIngredient"
                    placeholder="Ex. : 10"
                    required />
            </label>
        </li>
        <li>
            <label for="ingredientUnity">
                <select name="ingredientUnity" id="ingredientUnity">
                    <option value="">Unités</option>
                    <option value="tablespoon">Cuillère à soupe</option>
                    <option value="gram">Grammes</option>
                    <option value="milligram">Milligramme(g)</option>
                    <option value="liter">Litre(s)</option>
                    <option value="milliliter">Millilitre(s)</option>
                    <option value="pot">Pot(s)</option>
                </select>
            </label>
        </li>
        <li>
            <label for="ingredientName">
                <input type="text"
                    id="ingredientName"
                    name="ingredientName"
                    placeholder="Ex. : Chocolat en poudre"
                    required />
            </label>
        </li>
        <li>
            <button type="button" class="btn-bg-red stepsIngredientsBtn">+</button>
        </li>
    </ul>

    <table class="stepsIngredientsList stepsIngredientsList__ingredientsList">
        <thead>
            <tr>
                <th>Quantité</th>
                <th>Unités</th>
                <th>Ingrédients</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>00</td>
                <td>Cuillère à soupe</td>
                <td>Ingrédients</td>
                <td>
                    <button type="button">
                        <app-delete-icon />
                    </button>
                </td>
            </tr>
            <tr>
                <td>00</td>
                <td>Cuillère à soupe</td>
                <td>Ingrédients</td>
                <td>
                    <button type="button">
                        <app-delete-icon />
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</app-multiple-inputs>

<hr class="createRecipeLine">

<!-- Liste Étape -->
<app-multiple-inputs
    labelTitle="Étapes de la recette :"
    inputId="stepsListInputs"
    [required]="true">
    <ul>
        <li>
            <label for="stepIndex">
                <input type="number"
                    id="stepIndex"
                    name="stepIndex"
                    placeholder="Ex. : 10"
                    required />
            </label>
        </li>
        <li>
            <label for="stepDescription">
                <input type="text"
                    id="stepDescription"
                    name="stepDescription"
                    placeholder="Ex. : Ajouter le beurre fondue à la préparation"
                    required />
            </label>
        </li>
        <li>
            <button type="button" class="btn-bg-red stepsIngredientsBtn">+</button>
        </li>
    </ul>


    <table class="stepsIngredientsList stepsIngredientsList__stepsList">
        <thead>
            <tr>
                <th>N°</th>
                <th>Nom de l'étape</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>00</td>
                <td>Ingrédients</td>
                <td>
                    <button type="button">
                        <app-delete-icon />
                    </button>
                </td>
            </tr>
            <tr>
                <td>00</td>
                <td>Ingrédients</td>
                <td>
                    <button type="button">
                        <app-delete-icon />
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</app-multiple-inputs>

<!-- TODO : Gérer les required -> il doit y avoir au moins 2 étapes -->
