<section class="recipePresentation">
    <div class="recipePresentationLeft">
        <div class="wrapperImage">
            <img [src]="recipeData[0].imageName" alt="recipe picture">
        </div>

        <div class="recipeCuisineType">
            <p>Cuisine <span>{{ recipeDetailService.getCuisineLabel(recipeData[0].cuisineType) }}</span></p>
        </div>

        <ul>
            <li>
                <p>Créé par <span>{{ getRecipeAuthor(recipeData[0].authorId).username }}</span></p>
            </li>
            <li>
                <p>{{ getRecipesUser(recipeData[0].authorId).length }} recettes</p>
            </li>
        </ul>
    </div>

    <div class="recipeDescription">
        <h2>{{ recipeData[0].name }}</h2>

        <p>{{ recipeData[0].description }}</p>
    </div>

    <div class="recipeTime">
        <app-recipe-item-time
            [makingHours]="getRecipeTime(recipeData[0].recipeTimeId).makingH"
            [makingMinutes]="getRecipeTime(recipeData[0].recipeTimeId).makingMin"

            [pauseTime]="
                showRecipeTime(
                    getRecipeTime(recipeData[0].recipeTimeId).pauseH,
                    getRecipeTime(recipeData[0].recipeTimeId).pauseMin)
            "

            [pauseHours]="getRecipeTime(recipeData[0].recipeTimeId).pauseH"
            [pauseMinutes]="getRecipeTime(recipeData[0].recipeTimeId).pauseMin"

            [cookingTime]="
                showRecipeTime(
                    getRecipeTime(recipeData[0].recipeTimeId).cookingH,
                    getRecipeTime(recipeData[0].recipeTimeId).cookingMin)
            "

            [cookingHours]="getRecipeTime(recipeData[0].recipeTimeId).cookingH"
            [cookingMinutes]="getRecipeTime(recipeData[0].recipeTimeId).cookingMin"
            [cookingType]="recipeData[0].cookingType"

            [servingNumber]="getServingNumberData(recipeData[0].servingNumberId).number"
            [servingUnit]="
                recipeDetailService.getUnitLabel(
                getServingNumberData(recipeData[0].servingNumberId).servingType
            )"
            [difficulty]="recipeDetailService.getDifficultyLabel(recipeData[0].difficulty)"
        />
    </div>
</section>
