<div class="profilePage">
    <section class="profileLinksSection">
        <a 
            class="btn-bg-darkGrey"
            routerLink="/profil/mes-infos" 
            routerLinkActive="btn-bg-darkGrey__border" 
            ariaCurrentWhenActive="page">
            Mon profil
        </a>
        <a 
            class="btn-bg-darkGrey"
            routerLink="/profil/mes-favoris" 
            routerLinkActive="btn-bg-darkGrey__border" 
            ariaCurrentWhenActive="page">
            Mes favoris
        </a>
        <a 
            class="btn-bg-darkGrey"
            routerLink="/profil/mes-recettes" 
            routerLinkActive="btn-bg-darkGrey__border" 
            ariaCurrentWhenActive="page">
            Mes recettes
        </a>
    </section>

    <app-myfavorites-myrecipes 
        [isFavorites]="true" 
        [isRecipes]="false"
        title="Mes favoris" />
</div>
