h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  color: #010101;
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea, button {
  outline: none;
}

ul, ul li {
  list-style: none;
}

button {
  font-size: 16px;
  background-color: transparent;
  border: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}
header .navigationLeft {
  display: flex;
}
header .navigationLeft li {
  margin-right: 2rem;
}
header .navigationLeft li .active {
  color: #EB4A37;
}
header .navigationRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navigationRight img {
  width: auto;
  height: 24px;
}
header .navigationRight a {
  margin-left: 2.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  background-color: white;
}
footer .linksFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .linksFooter ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .linksFooter ul li {
  margin: 0.5rem 0;
  font-weight: 500;
}
footer p {
  margin-top: 2rem;
}

.recipesSection {
  display: flex;
  padding: 0 3rem;
  margin-bottom: 6rem;
}
.recipesSection .recipesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.recipesSection .recipesContainer .recipesHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.recipesSection .recipesContainer .recipesHeader label {
  width: 70%;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  background-color: #FAF4F4;
  border-radius: 0.5rem;
}
.recipesSection .recipesContainer .recipesHeader label img {
  width: auto;
  height: 20px;
}
.recipesSection .recipesContainer .recipesHeader label input {
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: transparent;
  border: 0;
}
.recipesSection .recipesContainer .recipesList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.videosSection {
  width: 1216px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 6rem auto;
}
.videosSection h2 {
  margin-bottom: 2.5rem;
}
.videosSection div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.videosSection div iframe {
  width: 250px;
  height: 450px;
  border: 0;
  border-radius: 1.5rem;
}

.newsletterSection {
  width: 1216px;
  padding: 3rem;
  margin: 0 auto 6rem auto;
  background-color: #EB4A37;
  color: white;
  border-radius: 2rem;
}
.newsletterSection h2 {
  width: 70%;
  margin: 0 auto 2rem auto;
  text-align: center;
}
.newsletterSection form {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.newsletterSection form input {
  width: 77%;
  padding: 1rem;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 3rem;
}
.newsletterSection form input::placeholder {
  color: white;
}
.newsletterSection form button {
  padding: 1rem 2.5rem;
  background-color: #F1CB36;
  border-radius: 3rem;
}

.recipePage section {
  width: 1216px;
  margin: 0 auto 5rem auto;
}

.recipePresentation {
  display: flex;
  justify-content: space-between;
}
.recipePresentation .wrapperImage {
  width: 45%;
  height: 500px;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
}
.recipePresentation .wrapperImage img {
  width: auto;
  height: 500px;
}
.recipePresentation .recipeDescription {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.recipePresentation .recipeDescription > p {
  margin: 2rem 0 1rem 0;
  color: #5A5A5A;
  line-height: 1.5;
}
.recipePresentation .recipeDescription .recipeTime {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.recipePresentation .recipeDescription .recipeTime hr {
  margin: 1rem 0;
}
.recipePresentation .recipeDescription hr {
  border: 1px solid #F4F4F4;
}
.recipePresentation .recipeDescription .recipeDescriptionEnd {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.recipePresentation .recipeDescription .recipeDescriptionEnd ul:first-child {
  width: 50%;
}
.recipePresentation .recipeDescription .recipeDescriptionEnd ul:first-child li:last-child p {
  color: #5A5A5A;
}
.recipePresentation .recipeDescription .recipeDescriptionEnd ul:first-child span {
  color: #EB4A37;
}
.recipePresentation .recipeDescription .recipeDescriptionEnd ul:last-child {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.recipePresentation .recipeDescription .recipeDescriptionEnd ul:last-child img {
  height: 24px;
}
.recipePresentation .recipeDescription .recipeDescriptionEnd ul:last-child li {
  margin-left: 1rem;
}
.recipePresentation .recipeDescription .recipeDescriptionEnd ul:last-child li:first-child {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #848484;
  border-radius: 2rem;
}
.recipePresentation .recipeDescription .recipeDescriptionEnd ul:last-child li:first-child img {
  height: 16px;
}

.recipeDetails {
  display: flex;
  justify-content: space-between;
}
.recipeDetails h3 {
  margin-bottom: 2rem;
}
.recipeDetails .recipeStepsComments {
  width: 68%;
}
.recipeDetails .recipeIngredientsTagsShare {
  min-width: 27%;
}
.recipeDetails .recipeIngredientsTagsShare .recipeIngredients {
  margin-bottom: 2rem;
}
.recipeDetails .recipeIngredientsTagsShare .recipeIngredients ul li {
  padding: 1rem;
}
.recipeDetails .recipeIngredientsTagsShare .recipeIngredients ul li:not(li:last-child) {
  border-bottom: 2px solid #F4F4F4;
}
.recipeDetails .recipeIngredientsTagsShare .recipeTags {
  max-width: 330px;
}
.recipeDetails .recipeIngredientsTagsShare .recipeTags ul {
  display: flex;
  flex-wrap: wrap;
}
.recipeDetails .recipeIngredientsTagsShare .recipeTags ul li {
  width: max-content;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0.5rem 0;
  background-color: #F4F4F4;
  color: #5A5A5A;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.btn-bold {
  font-weight: 600;
}

.btn-bg-red {
  padding: 1rem 2.5rem;
  background-color: #EB4A37;
  color: white;
  border-radius: 3rem;
}

button, a {
  cursor: pointer;
}

select {
  width: 180px;
  height: 40px;
  display: flex;
  padding: 0 1.5rem;
  background-color: #EB4A37;
  color: white;
  border: 0;
  border-radius: 3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%), linear-gradient(45deg, transparent 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(225deg, transparent 50%, white 50%);
  background-position: calc(100% - 20px) 23px, calc(100% - 15px) 23px, calc(100% - 2.5em) 0.5em, calc(100% - 20px) 15px, calc(100% - 15px) 15px, calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

.subHeader {
  padding: 0 3rem;
  margin-bottom: 5rem;
}
.subHeader .topHomePage {
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  background-image: url("../../../public/header-image.jpg");
  background-size: cover;
  background-position: top -30px left 0;
  background-repeat: no-repeat;
  color: white;
  border-radius: 1.5rem;
}
.subHeader .topHomePage h1 {
  width: 408px;
}
.subHeader .topHomePage p {
  width: 538px;
  font-size: 20px;
  line-height: 1.7;
  margin: 2rem 0;
}
.subHeader .topHomePage button {
  display: flex;
  align-items: flex-end;
  color: white;
  font-size: 18px;
}
.subHeader .topHomePage button img {
  height: 16px;
  margin-left: 1rem;
}

.recipe {
  width: auto;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.recipe > div {
  width: 100%;
  position: relative;
  z-index: 1;
}
.recipe > div .wrapperImg {
  width: 100%;
  height: 100%;
  max-height: 280px;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
}
.recipe > div .wrapperImg img {
  width: 100%;
  position: relative;
}
.recipe > div .favoriteIcon {
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
}
.recipe h4 {
  margin: 1.5rem 0 0.5rem 0;
}
.recipe ul {
  display: flex;
  justify-content: space-between;
}
.recipe ul li {
  display: flex;
  align-items: center;
}
.recipe ul li img {
  height: 20px;
  margin-right: 0.5rem;
}
.recipe ul li:last-child {
  margin-left: 1rem;
  text-align: right;
}

.recipesSection nav {
  width: 280px;
  padding: 0 2rem 0 0;
}
.recipesSection nav h2 {
  margin-bottom: 2.5rem;
}
.recipesSection nav .navFilters > li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.recipesSection nav .navFilters > li:first-child div {
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipesSection nav .navFilters > li:first-child div hr {
  width: 14px;
  border: 1px solid black;
}
.recipesSection nav .navFilters > li:first-child div hr.vertical {
  transform: rotate(90deg) translateX(-2px);
}
.recipesSection nav .navFilters > li:last-child {
  margin-left: 1rem;
}
.recipesSection nav .navFilters > li:last-child ul li {
  padding: 1rem 0;
}

.sliderNumber {
  display: flex;
  margin: 3rem auto 0 auto;
  color: #848484;
}
.sliderNumber img {
  width: auto;
  height: 18px;
}
.sliderNumber li {
  margin: 0 1rem;
  font-size: 18px;
}
.sliderNumber li.active {
  font-weight: 700;
  color: #5A5A5A;
}

.recipeItemTime {
  padding: 1rem;
  text-align: center;
}
.recipeItemTime img {
  height: 32px;
}
.recipeItemTime h4 {
  margin: 0.5rem 0;
}
.recipeItemTime p {
  color: #848484;
}

.recipeStepComponent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.recipeStepComponent .headerStep {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  color: #EB4A37;
}
.recipeStepComponent .headerStep img {
  width: 32px;
  height: auto;
}
.recipeStepComponent .headerStep h4 {
  width: max-content;
  margin: 0 1rem;
  white-space: nowrap;
}
.recipeStepComponent .headerStep hr {
  width: 100%;
  border: 1px solid #F4F4F4;
}
.recipeStepComponent p {
  margin-left: calc(32px + 1rem);
}

.recipeComment {
  margin-bottom: 3rem;
}
.recipeComment .headerComment {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.recipeComment .headerComment #wrapperUserPicture {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  border-radius: 3rem;
  overflow: hidden;
}
.recipeComment .headerComment #wrapperUserPicture #userPicture {
  height: 72px;
}
.recipeComment .headerComment ul {
  display: flex;
  flex-direction: column;
}
.recipeComment .headerComment ul li h4 {
  font-size: 18px;
}
.recipeComment .headerComment ul li p {
  margin: 4px 0 8px 0;
  color: #848484;
}
.recipeComment .headerComment ul li img {
  height: 18px;
  margin-right: 5px;
}
.recipeComment p {
  color: #5A5A5A;
  line-height: 1.5;
}

.answersList {
  margin-bottom: 3rem;
}
.answersList .recipeComment {
  padding: 2rem;
  margin: 0 0 0 5rem;
  /* &:nth-child(n+1) {
      &:not(.recipeComment.isAnswer.userAnswer) {
          border: 1px solid red;
      }
  } */
}
.answersList .isAnswer.userAnswer {
  background-color: #F9F6F5;
  border-bottom: 2px solid white;
}
.answersList .authorAnswer#commentAnswerId0 {
  padding-top: 0;
}

/*# sourceMappingURL=style.css.map */
