@use '../utils/variables' as *;

.wrapperCreateRecipe, .wrapperEditRecipe, .wrapperRecipeCommentForm {
    padding: 5rem 0;
    background-color: $lightGrey;

    button.btn-bg-yellow {
        margin: 0 auto 2rem auto;
    }
}

.createEditRecipe, .recipeCommentForm {
    width: $sectionWidth;
    padding: 5rem;
    margin: 0 auto;
    background-color: white;
    border-radius: 1rem;

    h2 {
        margin-bottom: 2rem;
        text-align: center;
    }

    form {
        div > label, div > label h3 {
            font-size: 24px;
            font-weight: 700;
        }

        div > label {
            margin-bottom: 1rem;
        }

        #createRecipeImgDiv {
            display: flex;
            justify-content: center;

            input {
                padding: .5rem 2rem 0 2rem;
            }

            input[type=file]::file-selector-button {
                margin-right: 1rem;
                border: none;
                background: $darkGrey;
                padding: 1rem 2rem;
                color: white;
                border-radius: 5rem;
                cursor: pointer;
            }
        }

        label select#selectCuisineType {
            width: 40%;
        }

        hr.createRecipeLine {
            width: 50%;
            margin: 0 auto 3rem auto;
            border: 1px solid $mediumGrey;
        }

        app-form-input div.formInputDiv {
            margin-bottom: 3rem;

            input, textarea {
                width: 80%;
                max-height: 100px;
            }
        }

        #difficultyInputs p {
            margin-top: .5rem;
        }

        .inputsTimesDiv {
            .inputsTimesCondition {
                margin: 1rem 0;
                label {
                    display: flex;
                    align-items: center;

                    input {
                        width: 20px;
                        height: 20px;
                        margin: 0 .5rem 0 0;
                    }
                }
            }

            .inputsTime {
                input {
                    margin-right: .5rem;
                }
            }
        }

        .totalTime {
            margin: 0 0 3rem 0;
            text-align: center;
        }

        #servingNumberInputs {
            select {
                width: 220px;
            }
        }
    }

    button {
        display: flex;
        margin: 2rem auto 0 auto;
    }
}
