@use '../utils/variables' as *;

.profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    background-color: $lightGrey;

    @media screen and (max-width: 767px) {
        padding: 3rem 1rem;
    }

    section {
        width: $sectionWidth;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        background-color: white;
        border-radius: 1.5rem;

        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }

    section:not(section:last-child) {
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 767px) {
        section:not(section:first-child) {
            padding: 2rem 1rem;
        }
    }

    .profileLinksSection {
        @media screen and (max-width: 767px) {
            flex-direction: row;
            padding: 1rem;
        }

        app-header-profile {
            width: 100%;
        }

        .profileLinksList {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media screen and (max-width: 767px) {
                width: 100%;
                justify-content: space-around;
                align-items: center;
            }

            .btn-bg-darkGrey__profile {
                width: max-content;
                display: flex;
                align-items: center;
                padding: 1rem 2rem;
                //margin: 0 2rem;

                @media screen and (max-width: 767px) {
                    width: 64px;
                    height: 64px;
                    justify-content: center;
                    margin: 0;

                    p {
                        display: none;
                    }
                }

                svg {
                    width: max-content;
                    height: 24px;
                    margin-right: 1rem;
                    fill: white;

                    @media screen and (max-width: 767px) {
                        height: 28px;
                        margin: 0;
                    }
                }
            }

            .btn-bg-darkGrey__profile--active svg {
                fill: $darkGrey;
            }
        }
    }

    .profileSection {
        @media screen and (max-width: 767px) {
            padding: 2rem;
        }

        button.btn-goBack {
            margin-bottom: 2rem;
        }

        h2 {
            margin-bottom: 2rem;
        }

        form {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            .headerProfile {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 3rem;

                .wrapperProfileImage {
                    width: 88px;
                    height: 88px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;
                    margin: 0 auto 1rem auto;
                    border: 4px solid $mediumGrey;
                    border-radius: 3rem;
                    overflow: hidden;

                    &__userImage {
                        padding: 0;

                        img {
                            width: 100%;
                            height: 100%;
                            display: block;
                            object-fit: cover;
                        }
                    }
                }

                label {
                    margin-bottom: 1rem;
                    text-align: center;
                }

                input {
                    font-size: 16px;

                    @media screen and (max-width: 767px) {
                        width: 92%;
                    }
                }
            }

            #profileUsername, #profileEmail, #profilePassword {
                width: 100%;
            }

            div#profileImage {
                margin-bottom: 3rem;
            }
        }

        .btn-bg-yellow {
            margin: 0 auto;

            &:hover {
                border-color: $thirdColor;
            }
        }

        &__adminAllUsers {
            table {
                th, td {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }

                th:nth-child(1),
                td:nth-child(1) {
                    max-width: 46px;
                    padding: 0;
                    margin-right: .5rem;
                }

                th:nth-child(2),
                td:nth-child(2) {
                    width: 60%;
                }

                th:nth-child(4),
                td:nth-child(4) {
                    max-width: 80px;
                }

                th:nth-child(5),
                td:nth-child(5) {
                    max-width: 190px;
                }

                th:nth-child(6),
                td:nth-child(6) {
                    max-width: 190px;
                    margin-left: .5rem;

                    button {
                        margin: 0 .5rem;
                    }
                }

                .modifyUser {
                    padding: .5rem 1.5rem;
                }
            }
        }

        &__adminAllRecipes {
            table {
                th, td {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border: $redtest;
                }

                th:nth-child(1),
                td:nth-child(1) {
                    max-width: 46px;
                    padding: 0;
                    margin-right: .5rem;
                }

                th:nth-child(6),
                td:nth-child(6) {
                    max-width: 190px;
                    margin-left: .5rem;

                    button {
                        margin: 0 .5rem;
                    }
                }

                .modifyRecipe {
                    padding: .5rem 1.5rem;
                }
            }
        }
    }
}

app-profile-icon,
app-heart-icon,
app-recipe-icon,
app-users-icon {
    display: flex;
}
