<section class="recipePresentation">
    <div class="recipePresentationLeft">
        <div class="wrapperImage">
            <img [src]="image()" alt="recipe picture">
        </div>

        <div class="recipeCuisineType">
            <p>Cuisine <span>Française</span></p>

            <ul *ngIf="cuisineTypeSpicy()">
                @for (icon of spicyLevel; track $index) {
                    <li>
                        <app-spicy-icon />
                    </li>
                }
            </ul>
        </div>
    
        <div class="recipeAuthor">
            <ul>
                <li>
                    <p>Créé par <span>{{ authorName() }}</span></p>
                </li>
                <li>
                    <p>{{ authorRecipesNumber() }} recettes</p>
                </li>
            </ul>
    
            <ul>
                <li>
                    <img src="plus-solid.svg" alt="add recipe">
                </li>
                <li>
                    <img src="print-solid.svg" alt="print recipe">
                </li>
            </ul>
        </div>
    </div>

    <div class="recipeDescription">
        <h2>{{ title() }}</h2>

        <p>{{ description() }}</p>

        <div class="recipeTime">
            <ng-content />
        </div>
    </div>
</section>

<section>
    <hr class="recipePresentationBorder" />
</section>