<nav>
    <h2>Recipes</h2>

    <ul class="navFilters">
        <li>
            <h3>Dish Type</h3>
            <div>
                <hr>
                <hr class="vertical">
            </div>
        </li>
        <li>
            <ul>
                <li>
                    <button type="button">Appetizers & Snacks</button>
                </li>
                <li>
                    <button type="button">Bread Recipes</button>
                </li>
                <li>
                    <button type="button">Cake Recipes</button>
                </li>
                <li>
                    <button type="button">Candy and Fudge</button>
                </li>
                <li>
                    <button type="button">Casserole Recipes</button>
                </li>
                <li>
                    <button type="button">Christmas Cookies</button>
                </li>
                <li>
                    <button type="button">Cocktail Recipes</button>
                </li>
                <li>
                    <button type="button">Main Dishes</button>
                </li>
                <li>
                    <button type="button">Pasta Recipes</button>
                </li>


            </ul>
        </li>
    </ul>
</nav>