@use '../utils/variables' as *;

.btn-bold {
    font-weight: 600;
}

.btn-bg-red {
    padding: 1rem 2.5rem;
    background-color: $firstColor;
    color: white;
    border: 2px solid $firstColor;
    border-radius: 3rem;

    &:hover {
        background-color: $secondColor;
        border-color: $secondColor;
    }
}

.btn-bg-white {
    padding: 1rem 2.5rem;
    background-color: white;
    color: $darkGrey;
    border: 2px solid white;
    border-radius: 3rem;

    &:hover {
        background-color: $darkGrey;
        border-color: $darkGrey;
    }
}

.btn-bg-yellow {
    padding: 1rem 2.5rem;
    background-color: $thirdColor;
    color: black;
    border: 2px solid $thirdColor;
    border-radius: 3rem;

    &:hover {
        background-color: white;
        border-color: white;
    }
}

button, a {
    cursor: pointer;
}