@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.formInputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;

    input:not(input[type="file"]), textarea {
        width: 100%;
        padding: 1rem 2rem;
        margin-top: .5rem;
        text-align: center;
        border: 2px solid $mediumGrey;
        border-radius: 5rem;
    }

    select {
        height: max-content;
        padding: 1rem 2rem;
        margin-top: .5rem;
        background-color: white;
        color: $darkGrey;
        border: 2px solid $mediumGrey !important;
        border-radius: 3rem;
        @include arrowsSelectStyle(white, $darkGrey, $isTall: true);
    }

    textarea {
        border-radius: 1rem;
    }

    label, textarea, input, button, select {
        font-size: 16px;
    }
}

.errorMessage, .formControlError {
    margin-top: 1rem;
    color: red;
}

input[type=file] {
    padding: .75rem 1rem;
    border: 2px solid $mediumGrey;
    border-radius: 3rem;
}

input[type=file]::file-selector-button {
    padding: .5rem 1.5rem;
    margin-right: 1rem;
    background: $mediumGrey;
    color: #fff;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}
