@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.formMultipleInputDiv {
    margin-bottom: 0;

    .multipleInputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;

        label {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & > button {
            width: 170px;
            display: flex;
            justify-content: center;
            padding: .5rem 2.5rem;
            margin: 0 auto;
        }

        ul {
            display: flex;
            align-items: center;

            li {
                margin: 0 1rem;

                input[type=number] {
                    width: 120px;
                    text-align: center;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
            }
        }

        select {
            height: max-content;
            padding: 1rem 2rem;
            margin-top: .5rem;
            background-color: white;
            color: $darkGrey;
            border: 2px solid $mediumGrey !important;
            border-radius: 3rem;
            @include arrowsSelectStyle(white, $darkGrey, $isTall: true);
        }

        #ingredientName {
            width: 300px;
        }

        #stepDescription {
            width: 500px;
        }

        .stepsIngredientsBtn {
            padding: .5rem 1.5rem;
            margin: .5rem 0 0 0;
            font-size: 24px;
            font-weight: 700;
            border-radius: 1rem;
        }

        .inputsTime {
            margin-top: 1rem;
        }
    }

    .ingredientsList {
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 2rem 0;
        margin-top: 1rem;
        border-radius: 1rem;
        overflow: hidden;
        border: 2px solid $mediumGrey;

        .ingredientsListHeader {
            width: max-content;
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            margin-bottom: .5rem;
            background-color: $mediumGrey;
            color: white;

            li:nth-child(1) {
                width: 120px;
            }

            li:nth-child(2) {
                width: 246px;
            }

            li:nth-child(3) {
                width: 254px;
            }

            li {
                text-align: center;
                font-weight: 700;
            }
        }
    }
}
