@use '../utils/variables' as *;

.myRecipesTable {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-radius: .5rem;
    overflow: hidden;

    thead tr {
        padding: 1rem 1.5rem;
        background-color: $mediumGrey;
        color: white;

        .myrecipeCheckbox {
            border: 1px solid $lightGrey;
            border-radius: 3px;
        }
    }

    thead tr, tbody tr {
        display: flex;

        th:not(.myrecipeCheckbox), td:not(.myrecipeCheckbox) {
            display: flex;
            margin: 0 .5rem;
        }

        input {
            width: 20px;
            height: 20px;
        }
    }

    thead tr {
        justify-content: space-between;
    }

    tbody {
        tr {
            justify-content: space-between;
            align-items: center;
            padding: .5rem 1.5rem;
        }

        tr:nth-child(even) {
            background-color: $lightGrey;
        }
    }

    .myrecipeCheckbox {
        width: 24px;
        display: flex;
        margin-right: 1rem;
    }

    .myrecipeName {
        width: 40%;

        a:hover {
            font-weight: 700;
            color: $darkGrey;
        }
    }

    .myrecipeCreationDate {
        width: 25%;
        justify-content: center;
    }

    .myrecipeOpinion {
        width: 15%;
        justify-content: center;
    }
    
    .myrecipeButtons {
        width: 10%;
        justify-content: flex-end;

        svg {
            width: 32px;
            height: 40px;
            fill: $darkGrey;
        }

        &__modify--body {
            button:hover svg {
                fill: $secondColor;
            }
        }

        &__delete--body {
            button:hover svg {
                fill: $firstColor;
            }
        }
    }
}