.homeRecipesSection nav.recipesFilter {  
    width: 280px;
    padding: 0 2rem 0 0;
    background-color: white;

    h2 {
        margin-bottom: 2.5rem;
    }

    .navFilters {
        overflow: hidden;

        & > li:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            //border: 1px solid blue;

            div {
                height: 14px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                hr {
                    width: 16px;
                    border-bottom: 1px solid black;
                }

                hr.verticalLine {
                    transform: rotate(90deg) translateX(-2px);
                }
            }
        }

        .navFiltersListItem {
            padding-left: 1.5rem;
            margin-top: 1rem;

            ul {
                margin-bottom: 1rem;

                li {
                    padding: 1rem 0;
                } 
            }
        }
    }
}
