@use '../utils/variables' as *;

nav.recipesFilter {  
    width: 280px;
    padding: 0 2rem 0 0;
    background-color: white;

    @media (max-width: 767px) {
        width: 100%;
        padding: 0;
        margin-top: .5rem;
        background-color: transparent;
    }

    .filterHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.5rem;

        @media only screen and (max-width: 767px) {
            width: 40%;
            margin-bottom: 2rem;

            h2 {
                font-size: 18px;
            }
        }

        button {
            display: none;

            @media only screen and (max-width: 767px) {
                display: flex;
                margin-left: 1rem;
                
                app-chevron-down-icon svg {
                    width: 18px;
                    height: max-content;
                    fill: $darkGrey;
                    transition: transform .2s ease-in-out;
                }
            }
        }
    }

    .filtersList {
        overflow: hidden;

        .ulFilters {
            overflow: hidden;
    
            & > li:first-child {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                @media only screen and (max-width: 767px) {
                    h3 {
                        font-size: 16px;
                    }
                }
    
                button {
                    width: 16px;
                    height: 16px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    @media only screen and (max-width: 767px) {
                        width: 14px;
                        height: 14px;
                    }
    
                    span {
                        width: 16px;
                        height: 2px;
                        background-color: black;
                        border: 0;
                        transition: transform .2s ease-in-out;

                        @media only screen and (max-width: 767px) {
                            width: 14px;
                        }
                    }
    
                    span.verticalLine {
                        transform: translateY(-2px) rotate(-90deg);
                    }
                }
            }
    
            .navFiltersListItem {
                padding-left: 1.5rem;
                margin-top: 1rem;
    
                ul {
                    margin-bottom: 1rem;
    
                    li {
                        padding: 1rem 0;
                        
                        @media only screen and (max-width: 767px) {
                            padding: .5rem 0;
                        }
                    } 
                }
            }
        }
    }
}
