@use '../utils/variables' as *;

.wrapperPopUp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(black, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;

    .popUp {
        width: max-content;
        padding: 3rem 5rem;
        background-color: white;
        text-align: center;
        border-radius: 1rem;

        ul {
            display: flex;
            justify-content: center;
            margin-top: 2rem;

            button {
                padding: 1rem 2rem;
                margin: 0 2rem;
                border-radius: 3rem;
            }

            li:first-child button {
                background-color: $green;
            }

            li:last-child button {
                background-color: $firstColor;
                color: white;
            }
        }
    }
}
