@use '../utils/variables' as *;

.recipe {
    width: auto;
    height: max-content;
    display: flex;
    flex-direction: column;
    
    & > div {
        width: 100%;
        position: relative;
        z-index: 1;

        .wrapperImg {
            width: 100%;
            height: 100%;
            max-height: 280px;
            display: flex;
            align-items: center;
            border-radius: .5rem;
            overflow: hidden;
            
            img {
                width: 100%;
                position: relative;
            }
        }

        // TODO pb svg non hover car on ne voit pas le code du ficheir
        .favoriteIcon {
            height: 20px;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 5;
        }
    }

    h4 {
        margin: 1.5rem 0 .5rem 0;
    }

    ul {
        display: flex;
        justify-content: space-between;

        li {
            display: flex;
            align-items: center;
            color: $mediumGrey;

            img {
                height: 20px;
                margin-right: .5rem;
            }
        }

        li:last-child {
            margin-left: 1rem;
            text-align: right;
        }
    }
}