@use '../utils/variables' as *;

ul.recipeItemTimeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li.recipeItemTime {
        width: 49%;
        padding: 1rem 2rem;
        text-align: center;
    
        img {
            height: 32px;
        }
    
        h4 {
            margin: .5rem 0;
        }
    
        p {
            color: $mediumGrey;
        }
    }

    li.servingNumber {
        width: 100%;
        padding-bottom: 0;
    }

    li.recipeLineTime {
        width: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;

        hr.recipeItemVerticalBorder{
            height: 100%;
            margin: 0;
        }
    }
    
    hr.recipeItemHorizontalBorder {
        width: 100%;
    }
}
