@use '../utils/variables' as *;

$sizeShareIcons: 40px;

ul.socialNetworks {
    display: flex;

    li, li a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li {
        width: $sizeShareIcons;
        height: $sizeShareIcons;
        margin-right: 1.5rem;
        border-radius: 3rem;

        img {
            height: 22px;
        }
    }

    li:nth-child(1) {
        border: 2px solid $facebook;
    }
    li:nth-child(2) {
        border: 2px solid $linkedin;
    }
    li:nth-child(3) {
        border: 2px solid $x-twitter;
    }
}