.subHeader {
    padding: 0 3rem;
    margin-bottom: 5rem;

    @media only screen and (max-width: 767px) {
        padding: 2rem 1rem;
        margin-bottom: 1rem;
    }

    .topHomePage {
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem;
        background-image: url('../../../public/header-image.jpg');
        background-size: cover;
        background-position: top -30px left 0;
        background-repeat: no-repeat;
        color: white;
        border-radius: 1.5rem;

        @media only screen and (max-width: 767px) {
            padding: 2rem;
            background-position: top 0 center;
        }
    
        h1 {
            width: 408px;

            @media only screen and (max-width: 767px) {
                width: auto;
            }
        }
    
        p {
            width: 538px;
            font-size: 20px;
            line-height: 1.7;
            margin: 2rem 0;

            @media only screen and (max-width: 767px) {
                width: auto;
                margin: 1.5rem 0;
                line-height: auto;
            }
        }
    
        button { 
            display: flex;
            align-items: flex-end;
            color: white; 
            font-size: 18px;
    
            img {
                height: 16px;
                margin-left: 1rem;
            }
        }
    }
}