<div class="inputsTimesDiv">
    @for (time of times(); track time.id) {
        <app-multiple-inputs
            [labelTitle]="time.title"
            [inputId]="time.name + 'Input'"
            [required]="time.required">
            
            <ul *ngIf="time.name !== 'makingTime'" class="inputsTimesCondition">
                <li>
                    <label [for]="time.condition.name">
                        <input 
                            type="radio" 
                            [name]="time.condition.name" 
                            [id]="time.condition.name"
                            [(ngModel)]="time.condition.selected"
                            [value]="'yes'" />
                        {{ time.condition.yes }}
                    </label>
                </li>
                <li>
                    <label [for]="time.condition.name">
                        <input 
                            type="radio" 
                            [name]="time.condition.name" 
                            [id]="time.condition.name"
                            [(ngModel)]="time.condition.selected"
                            [value]="'no'" />
                        {{ time.condition.no }}
                    </label>
                </li>
            </ul>
            
    
            <ul *ngIf="time.condition.selected === 'yes'" class="inputsTime">
                <li>
                    <label [for]="time.hours.inputId">
                        <input [type]="time.hours.type" 
                            [id]="time.hours.inputId" 
                            [name]="time.hours.inputId" 
                            [placeholder]="time.hours.placeholder"
                            [required]="false" />
                            heure(s)
                    </label>
                </li>
                <li>
                    <label [for]="time.minutes.inputId">
                        <input [type]="time.minutes.type" 
                            [id]="time.minutes.inputId" 
                            [name]="time.minutes.inputId" 
                            [placeholder]="time.condition.selected === 'yes' ? time.minutes.placeholder + ' *' : time.minutes.placeholder"
                            [required]="time.condition.selected === 'yes' ? true : false" />
                        minutes
                    </label>
                </li>
            </ul>
        </app-multiple-inputs>
    }

    <div class="totalTime">
        <h3>Temps total :</h3>
        <p></p>
    </div>
</div>