<section class="signInSection">
    <div class="leftContainer">
        <h2>Connexion</h2>

        <ul class="socialNetworks">
            @for (social of socialNetworksList(); track $index) {
                <app-social-networks 
                    [link]="social.href"
                    [pathImg]="social.path"
                    [altImg]="social.altImg" />
            }
        </ul>

        <p>Ou utilisez votre adresse mail :</p>

        <form method="post">
            <!-- TODO put back in its place -->
            @for (input of formInputConnection(); track input.id) {
                <app-form-input
                    [id]="input.id"
                    [type]="input.type"
                    [label]="input.label"
                    [inputId]="input.inputId"
                    [required]="input.required" />
            }

            <a href="">Mot de passe oublié ?</a>

            <button type="submit" class="btn-bg btn-bg-red">
                <!-- TODO Connexion supprimer le a href et remettre "connexion" -->
                 <a href="/profil/mes-infos">Connexion</a>
            </button>
        </form>


    </div>
    <div class="rightContainer">
        <div class="imgRightContainer">
            <h2>Pas de compte ? Rejoignez-nous !</h2>
            <p>Entrez vos informations personnelles <br> et rejoignez la communauté culinaire</p>
            <a href="/inscription" class="btn-bg btn-bg-white">S'inscrire</a>
        </div>
    </div>
</section>