<section class="signInSection">
    <div class="leftContainer">
        <h2>Connexion</h2>

        <ul class="socialNetworks">
            @for (social of socialNetworksList(); track $index) {
                <app-social-networks
                    [link]="social.href"
                    [pathImg]="social.path"
                    [altImg]="social.altImg" />
            }
        </ul>

        <p>Ou utilisez votre adresse mail :</p>

        <form method="post" [formGroup]="userLogin.formGroupLogin" (ngSubmit)="onSubmit()">
            <!-- TODO put back in its place -->
            <div class="formInputDiv" id="div-signin-email">
                <label for="signin-email">
                    Email : <span style="color: #EB4137">*</span>
                </label>

                <input type="email"
                       id="signin-email"
                       name="signin-email"
                       placeholder="Email"
                       formControlName="email"
                       required
                />
            </div>

            <div class="formInputDiv" id="div-signin-password">
                <label for="signin-password">
                    Mot de passe : <span style="color: #EB4137">*</span>
                </label>

                <input type="password"
                       id="signin-password"
                       name="signin-password"
                       placeholder="Mot de passe"
                       formControlName="password"
                       required
                />
            </div>

            <a href="">Mot de passe oublié ?</a>

            <button type="submit" class="btn-bg btn-bg-red">
                Connexion
            </button>
        </form>


    </div>
    <div class="rightContainer">
        <div class="imgRightContainer">
            <h2>Pas de compte ? Rejoignez-nous !</h2>
            <p>Entrez vos informations personnelles <br> et rejoignez la communauté culinaire</p>
            <a href="/inscription" class="btn-bg btn-bg-white">S'inscrire</a>
        </div>
    </div>
</section>
