<div class="recipePage">
    <!-- SECTION : Recipe presentation -->
    <app-recipe-presentation
        [image]="recipe.image"
        [title]="recipe.title"
        [description]="recipe.description"
        [authorName]="recipe.author.username"
        [authorRecipesNumber]="recipe.author.numberOfRecipes">

        <app-recipe-item-time
            [preparationHours]="2"
            [preparationMinutes]="30"
            [cookingTime]="true"
            [cookingHours]="1"
            [cookingMinutes]="45"
            [pauseTime]="true"
            [pauseHours]="0"
            [pauseMinutes]="15"
            [servingNumber]="4"
            servingUnit="personnes" />

    </app-recipe-presentation>
    <!-- ########## -->

    <!-- SECTION : Recipe details -->
    <app-recipe-details
        [recipeSteps]="recipe.steps"
        [recipeOpinions]="recipe.opinions"
        [recipeAuthorName]="recipe.author.username"
        [recipeIngredientsList]="recipe.ingredientsList"
        [recipeTags]="recipe.tags" />
    <!-- ########## -->

    <section class="otherRecipes">
        <h3>Autres recettes que vous pourriez aimer</h3>
        <!-- TODO : PB others recipes (recipe detail) -->
        <!-- <div class="otherRecipesList">
            @for (recipe of getOtherRecipesList(); track recipe.id;) {
                <app-recipe-item
                    [id]="recipe.id"
                    [picture]="recipe.image" 
                    [name]="recipe.title" 
                    [average]="getAverage(recipe.id)" 
                    [numberOfVotes]="recipe.opinions?.length"
                    [authorName]="recipe.author.username"
                />
            }
        </div> -->
    </section>
</div>
