<div class="recipePage">
    <!-- SECTION : Recipe presentation -->
    <app-recipe-presentation
        [image]="recipe.image"
        [title]="recipe.title"
        [description]="recipe.description"
        [authorName]="recipe.author.username"
        [authorRecipesNumber]="recipe.author.numberOfRecipes"
        [cuisineTypeId]="recipe.cuisineType.id"
        [cuisineTypeName]="recipe.cuisineType.name"
        [cuisineTypeSpicy]="recipe.cuisineType.isSpicy!.spicy"
        [cuisineTypeSpicyLevel]="recipe.cuisineType.isSpicy?.level">

        <app-recipe-item-time
            [makingHours]="recipe.makingTime.hours || 0"
            [makingMinutes]="recipe.makingTime.minutes || 0"
            [cookingTime]="true"
            [cookingHours]="recipe.cookingTime?.hours || 0"
            [cookingMinutes]="recipe.cookingTime?.minutes || 0"
            [pauseTime]="true"
            [pauseHours]="recipe.pauseTime?.hours || 0"
            [pauseMinutes]="recipe.pauseTime?.minutes || 0"
            [servingNumber]="4"
            servingUnit="personnes" />

    </app-recipe-presentation>
    <!-- ########## -->

    <!-- SECTION : Recipe details -->
    <app-recipe-details
        [recipeSteps]="recipe.steps"
        [recipeOpinions]="recipe.opinions"
        [recipeAuthorName]="recipe.author.username"
        [recipeIngredientsList]="recipe.ingredientsList"
        [recipeTags]="recipe.tags" />
    <!-- ########## -->

    <!-- SECTION : "Other recipes you may like" -->
    <app-other-recipes [recipe]="recipe" [recipeId]="recipe.id" />
    <!-- ########## -->
</div>
