<form
    action="http://localhost:3000/recipes"
    method="post"
    class="createRecipeForm"
    enctype="multipart/form-data"
    [formGroup]="recipeForm.formGroup" >
    <!-- Title -->
    <div class="formInputDiv" id="createRecipeTitleDiv">
        <label for="createRecipeTitle">
            Titre de la recette : <span style="color: #EB4137">*</span>
        </label>

        <input type="text"
            id="createRecipeTitle"
            name="createRecipeTitle"
            placeholder="Titre de la recette"
            formControlName="name"
        />
        <p class="formControlError" *ngIf="arrayInvalidControl.includes('name')">Le nom de la recette doit contenir au moins 4 caractères</p>
    </div>

    <!-- Description -->
    <div class="formInputDiv" id="createRecipeDescriptionDiv">
        <label for="createRecipeDescription">
            Description :
        </label>

        <textarea
            id="createRecipeDescription"
            name="createRecipeDescription"
            placeholder="Description"
            [rows]="10"
            maxlength="250"
            style="resize: none;"
            formControlName="description">
        </textarea>
    </div>

    <!-- Ajouter une image -->
    <div class="formInputDiv" id="createRecipeImgDiv">
        <label for="recipe-image">
            Ajouter une image :
        </label>

        <input type="file"
            id="recipe-image"
            name="recipe-image"
            placeholder="Ajouter une image"
            (change)="onFileSelected($event)" />
    </div>

    <!-- Types de cuisine -->
    <app-multiple-inputs
        labelTitle="Type de cuisine :"
        inputId="cuisineTypeInputs"
        [required]="true">
        <select
            id="selectCuisineType"
            formControlName="cuisineType">
            <option value="">---</option>
            @for (ct of cuisineTypeList(); track ct.id) {
              <option [value]="ct.value">{{ ct.title }}</option>
            }
        </select>
        <p class="formControlError" *ngIf="arrayInvalidControl.includes('cuisineType')">Le type de cuisine est requis</p>
    </app-multiple-inputs>

    <!-- Types de cuisson -->
    <app-cooking-type (checkboxValue)="getCheckboxValue($event)" [ifInvalidControl]="arrayInvalidControl" />

    <!-- Nombre de portions -->
    <app-multiple-inputs
        labelTitle="Nombre de portions :"
        inputId="servingNumberInputs"
        [required]="true">
        <ul formGroupName="servingNumber">
            <li>
                <label for="servingNumber">
                    <input type="number"
                        id="servingNumber"
                        name="servingNumber"
                        placeholder="Ex : 4"
                        formControlName="number" />
                </label>
            </li>
            <li>
                <label for="servingName">
                    <select name="servingName" id="servingName" formControlName="type">
                        <option value="">Type de portion</option>
                        <option value="person">Personne(s)</option>
                        <option value="piece">Parts(s)</option>
                        <option value="liter">Litre(s)</option>
                        <option value="cylinders">Vérine(s)</option>
                    </select>
                </label>
            </li>
        </ul>
        <p class="formControlError" *ngIf="arrayInvalidControl.includes('servingNumber')">Le nombre de portions est requis</p>
    </app-multiple-inputs>

    <!-- Difficulté -->
    <app-difficulty controlName="difficulty" [ifInvalidControl]="arrayInvalidControl" />

    <hr class="createRecipeLine">

    <!-- Temps de préparation, cuisson, pause -->
    <div class="inputsTimesDiv" formGroupName="recipeTime">
        <app-multiple-inputs
            labelTitle="Temps de préparation :"
            inputId="makingTimeInput"
            [required]="true"
            formGroupName="making">
            <ul class="inputsTime">
                <li>
                    <label for="makingTimeHours">
                        <input type="number"
                               id="makingTimeHours"
                               name="makingTimeHours"
                               placeholder="Ex : 2"
                               formControlName="hours"
                               [required]="true" />
                        heure(s)
                    </label>
                </li>
                <li>
                    <label for="makingTimeMinutes">
                        <input type="number"
                               id="makingTimeMinutes"
                               name="makingTimeMinutes"
                               placeholder="Ex : 00"
                               formControlName="minutes"
                               [required]="true" />
                        minutes
                    </label>
                </li>
            </ul>

            <p class="formControlError" *ngIf="arrayInvalidControl.includes('recipeTime')">Le temps de préparation est requis</p>
        </app-multiple-inputs>

        <app-multiple-inputs
            labelTitle="Temps de cuisson :"
            inputId="cookingTimeInput"
            [required]="false">

            <button class="btn-bg-darkGrey" type="button" (click)="isCooking = !isCooking">
                {{ isCooking ? 'Supprimer' : 'Ajouter' }}
            </button>

            <ul *ngIf="isCooking" class="inputsTime" formGroupName="cooking">
                <li>
                    <label for="cookingTimeHours">
                        <input type="number"
                               id="cookingTimeHours"
                               name="cookingTimeHours"
                               placeholder="Ex : 1"
                               formControlName="hours"
                               [required]="true" />
                        heure(s)
                    </label>
                </li>
                <li>
                    <label for="cookingTimeMinutes">
                        <input type="number"
                               id="cookingTimeMinutes"
                               name="cookingTimeMinutes"
                               placeholder="Ex : 30"
                               formControlName="minutes"
                               [required]="true" />
                        minutes
                    </label>
                </li>
            </ul>
        </app-multiple-inputs>

        <app-multiple-inputs
            labelTitle="Temps de pause :"
            inputId="pauseTimeInput"
            [required]="false">

            <button class="btn-bg-darkGrey" type="button" (click)="isPause = !isPause">
                {{ isPause ? 'Supprimer' : 'Ajouter' }}
            </button>

            <ul *ngIf="isPause" class="inputsTime" formGroupName="pause">
                <li>
                    <label for="pauseTimeHours">
                        <input type="number"
                               id="pauseTimeHours"
                               name="pauseTimeHours"
                               placeholder="Ex : 1"
                               formControlName="hours"
                               [required]="false" />
                        heure(s)
                    </label>
                </li>
                <li>
                    <label for="pauseTimeMinutes">
                        <input type="number"
                               id="pauseTimeMinutes"
                               name="pauseTimeMinutes"
                               placeholder="Ex : 30"
                               formControlName="minutes"
                               [required]="true" />
                        minutes
                    </label>
                </li>
            </ul>
        </app-multiple-inputs>
    </div>

    <hr class="createRecipeLine">

    <!-- Liste Ingrédients -->
    <app-multiple-inputs
        labelTitle="Liste des ingrédients :"
        inputId="ingredientsListInputs"
        [required]="true">
        <ul formGroupName="ingredientDetail">
            <li>
                <label for="numberIngredient">
                    <input type="number"
                           id="numberIngredient"
                           name="numberIngredient"
                           formControlName="quantity"
                           placeholder="100" />
                </label>
            </li>
            <li>
                <label for="ingredientUnity">
                    <select name="ingredientUnity" id="ingredientUnity" formControlName="unit">
                        <option value="">Unités</option>
                        <option value="tablespoon">Cuillère à soupe</option>
                        <option value="teaspoon">Cuillère à café</option>
                        <option value="kilogram">Kilogrammes (kg)</option>
                        <option value="gram">Grammes (g)</option>
                        <option value="milligram">Milligrammes (mg)</option>
                        <option value="liter">Litres (L)</option>
                        <option value="milliliter">Millilitres (ml)</option>
                        <option value="pot">Pot(s) de yaourt</option>
                        <option value="pinch">Pincée</option>
                        <option value="bottle">Bouteille</option>
                        <option value="box">Boîte</option>
                        <option value="piece">Morceaux</option>

                        <option value="other">Autre (présicez à côté)</option>
                    </select>
                </label>
            </li>
            <li>
                <label for="ingredientName">
                    <input type="text"
                           id="ingredientName"
                           name="ingredientName"
                           formControlName="name"
                           placeholder="Ex. : Chocolat en poudre"
                           (keydown.enter)="addDetails('ingredientDetail', ingredientsList, 'quantity', 'unit', 'name')"
                    />
                </label>
            </li>
            <li>
                <button type="button"
                    class="btn-bg-red stepsIngredientsBtn"
                    (click)="addDetails('ingredientDetail', ingredientsList, 'quantity', 'unit', 'name')">
                    +
                </button>
            </li>
        </ul>

        <p class="errorMessage" *ngIf="errorAddIngredient() !== ''">{{ errorAddIngredient() }}</p>

        <app-table-list
            typeTable="ingredient"
            [headList]="tableHeadIngredient"
            [bodyList]="ingredientsList.controls"
            (removeFunc)="removeRow($event, ingredientsList, 'ingredientIndex')" />

        <p class="formControlError" *ngIf="arrayInvalidControl.includes('ingredientsList')">Renseignez au moins 2 ingrédients</p>
    </app-multiple-inputs>

    <hr class="createRecipeLine">

    <!-- Liste Étapes -->
    <app-multiple-inputs
        labelTitle="Étapes de la recette :"
        inputId="stepsListInputs"
        [required]="true">
        <ul formGroupName="stepDetail">
            <li>
                <label for="stepDescription">
                    <input type="text"
                           id="stepDescription"
                           name="stepDescription"
                           placeholder="Ex. : Ajouter le beurre fondue à la préparation"
                           formControlName="stepName"
                           (keydown.enter)="addDetails('stepDetail', stepsList, 'stepName')" />
                </label>
            </li>
            <li>
                <button type="button"
                        class="btn-bg-red stepsIngredientsBtn"
                        (click)="addDetails('stepDetail', stepsList, 'stepName')">
                    +
                </button>
            </li>
        </ul>

        <p class="errorMessage" *ngIf="errorAddStep() !== ''">{{ errorAddStep() }}</p>

        <app-table-list
            class="stepsTable"
            typeTable="step"
            [headList]="tableHeadStep"
            [bodyList]="sortedStepsList"
            (removeFunc)="removeRow($event, stepsList, 'stepIndex')" />

        <p class="formControlError" *ngIf="arrayInvalidControl.includes('stepsList')">Renseignez au moins 2 étapes de la recette</p>
    </app-multiple-inputs>

    <hr class="createRecipeLine">

    <button
        type="button"
        (click)="onSubmit()"
        [class]="recipeFormStatus() === 'INVALID' ? 'btn-disabled btn-bg-red' : 'btn-bg-red'"
        [disabled]="recipeFormStatus() === 'INVALID'">
        Soumettre
    </button>
</form>

