<section class="recipeDetails">
    <div class="recipeIngredients recipeIngredients__mobile">
        <h3>Ingrédients</h3>

        <ul class="ingredientList">
            @for (recipeIngr of getIngredientsData(recipeId).flat(); track recipeIngr.id) {
                <li class="ingredient">
                    {{ recipeIngr.quantity }} {{ recipeDetailService.getUnitIngredientLabel(recipeIngr.unit) }} {{ recipeIngr.name.toLowerCase() }}
                </li>
            }
        </ul>
    </div>

    <div class="recipeSteps">
        <h3>Étapes de préparation</h3>

        <div class="stepsContainer">
            @for (step of getStepsData(recipeId).flat(); track $index) {
                <app-recipe-step
                    [nbStep]="$index + 1"
                    [description]="step.stepName" />
            }
        </div>
    </div>

    <nav class="recipeIngredientsTagsShare">
        <div class="recipeIngredients recipeIngredients__desktop">
            <h3>Ingrédients</h3>

            <ul class="ingredientList">
                @for (recipeIngr of getIngredientsData(recipeId).flat(); track recipeIngr.id) {
                    <li class="ingredient">
                        {{ recipeIngr.quantity }} {{ recipeDetailService.getUnitIngredientLabel(recipeIngr.unit) }} {{ recipeIngr.name.toLowerCase() }}
                    </li>
                }
            </ul>
        </div>

        <!--<div class="recipeTags recipeTags__desktop">
            <h3>Tags</h3>

            <ul class="tagList">
                @for (tag of recipeTags(); track tag.id) {
                    <li class="tag"> {{ tag.name }}</li>
                }
            </ul>
        </div>-->

        <div class="recipeShare recipeShare__desktop">
            <h3>Partager la recette</h3>

            <ul class="socialNetworks">
                @for (social of socialNetworksList(); track $index) {
                    <app-social-networks
                        [link]="social.href"
                        [pathImg]="social.path"
                        [altImg]="social.altImg" />
                }
            </ul>
        </div>

        <div class="wrapperNavImage"
             *ngIf="getStepsData(recipeId).flat().length"> <!--*ngIf="recipe.steps.length >= 5 && recipeOpinions()!.length > 1">-->
            <img src="recipe-detail-image.jpg" alt="détail de la recette image">
        </div>
    </nav>

    <hr class="dividingStepsComments">

    <div class="recipeComments">
        <h3>Commentaires</h3>

        @if (userConnected.isAuthenticated) {
            <a routerLink="commentaire" class="btn-bg-yellow">Écrire un commentaire</a>
        }

        <div class="commentsContainer" *ngIf="getRecipeComments()!.length > 0">
            @for (comment of getRecipeComments(); track $index) {
                <app-recipe-comment
                    [userId]="comment.userId"
                    [date]="comment.created"
                    [note]="comment.note"
                    [text]="comment.commentText"
                />
            }
        </div>

        <div class="noCommentsContainer" *ngIf="commentsList.length === 0">
            <p>Cette recette n'a pas encore été notée. Soyez le premier à laisser un commentaires !</p>
        </div>
    </div>

    <div class="recipeTags recipeTags__mobile">
        <h3>Tags</h3>

        <!--<ul class="tagList">
            @for (tag of recipeTags(); track tag.id) {
                <li class="tag"> {{ tag.name }}</li>
            }
        </ul>-->
    </div>

    <div class="recipeShare recipeShare__mobile">
        <h3>Partager la recette</h3>

        <ul class="socialNetworks">
            @for (social of socialNetworksList(); track $index) {
                <app-social-networks
                    [link]="social.href"
                    [pathImg]="social.path"
                    [altImg]="social.altImg" />
            }
        </ul>
    </div>
</section>
