<p>multiple-inputs works!</p>
<div class="formInputDiv formMultipleInputDiv" [id]="inputId()">
    <label [for]="inputId()">
        {{ labelTitle() }} <span *ngIf="required()">*</span>
    </label>

    <div class="multipleInputs">
        <!-- @for (item of items; track item.id) {} -->
        <label for="">
            <input [type]="type()" 
                [id]="inputId()" 
                [name]="inputId()" 
                [placeholder]="placeholder()"
                [required]="required()" />
        </label>
    </div>

    
    
    <!-- Envelopper input-1 + label > input dans une div -->
</div>