<div class="profilePage">
    <section class="profileLinksSection">
        <div class="wrapperProfileLinksList">
            <div class="profileLinksList">
                <a 
                    class="btn-bg-darkGrey btn-bg-darkGrey__profile"
                    routerLink="/profil/mes-infos" 
                    routerLinkActive="btn-bg-darkGrey__profile--active" 
                    ariaCurrentWhenActive="page">
                    Mon profil
                </a>
                <a 
                    class="btn-bg-darkGrey btn-bg-darkGrey__profile"
                    routerLink="/profil/mes-favoris" 
                    routerLinkActive="btn-bg-darkGrey__profile--active" 
                    ariaCurrentWhenActive="page">
                    Mes favoris
                </a>
                <a 
                    class="btn-bg-darkGrey btn-bg-darkGrey__profile"
                    routerLink="/profil/mes-recettes" 
                    routerLinkActive="btn-bg-darkGrey__profile--active" 
                    ariaCurrentWhenActive="page">
                    Mes recettes
                </a>
            </div>
        </div>
    </section>

    <app-myfavorites-myrecipes 
        title="Mes recettes"
        [isRecipes]="true" 
        [isFavorites]="false" />
</div>
