<section class="myfavorites-myrecipes">
    <h2>{{ title() }}</h2>

    <!-- @If FAVORITES : -->
    <div *ngIf="isFavorites()" class="myFavoritesDiv">
        <div class="myFavoritesItems">
            @for (recipe of getUserFavorites(); track recipe.id) {
                <app-recipe-item
                    [id]="recipe.id"
                    [picture]="recipe.imageName"
                    [name]="recipe.name"
                    [average]="getAverage(recipe.id)"
                    [numberOfVotes]="getRecipeComments(recipe.id).length"
                    [authorName]="username"
                    [recipeId]="recipe.id"
                    [userId]="recipe.authorId"
                />
            }
        </div>
    </div>

    <!-- @If RECIPES : -->
    <a *ngIf="isRecipes()" class="btn-bg-yellow" routerLink="creer">Créer une recette</a>

    <table *ngIf="isRecipes()" class="myRecipesTable">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th class="myrecipeName">Nom de la recette</th>
                <th class="myrecipeCreationDate">Date de création</th>
                <th class="myrecipeOpinion">Avis</th>
                <th class="myrecipeButtons"></th>
            </tr>
        </thead>

        <tbody>
            @for (recipe of getUserRecipes(); track recipe.id) {
                <tr>
                    <td>{{ recipe.id }}</td>
                    <td class="myrecipeName">
                        <a [routerLink]="'/recettes/' + recipe.id">
                            {{ recipe.name }}
                        </a>
                    </td>
                    <td class="myrecipeCreationDate">
                        {{ recipe.created }}
                    </td>
                    <td class="myrecipeOpinion">
                        {{ getAverage(recipe.id) }} ({{ getRecipeComments(recipe.id).length }} notes)
                    </td>
                    <td class="myrecipeButtons">
                        <button type="button" class="modifyRecipe">
                            <a href="profil/mes-recettes/modifier">
                                <app-modify-icon />
                            </a>
                        </button>
                        <button type="button" class="deleteRecipe" (click)="showPopUpTrue()">
                            <app-delete-icon />
                        </button>

                        <app-pop-up
                            [isShow]="showPopUp()"
                            labelName="la recette"
                            (deleteFunction)="deleteUserRecipe(recipe.id)"
                            (cancelFunction)="showPopUpFalse()"
                        />

                        <!--<div class="wrapperPopUp" *ngIf="showPopUp()">
                            <div class="popUp">
                                <h3>Êtes-vous sûr de vouloir supprimer la recette ? </h3>
                                <ul>
                                    <li>
                                        <button type="button" (click)="deleteUserRecipe(recipe.id)">
                                            Oui
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" (click)="showPopUpFalse()">
                                            Non
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>-->
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>
