@if(cookingType() === 'hot-plate') {
    <div class="recipeCookingTypeItem">
        <img src="stove.svg" alt="Four">
        <h4>Type de cuisson</h4>
        <p>Four</p>
    </div>
}

@if(cookingType() === 'stove') {
    <div class="recipeCookingTypeItem">
        <img src="stove.svg" alt="Four">
        <h4>Type de cuisson</h4>
        <p>Four</p>
    </div>
}

@if(cookingType() === 'air-fryer') {
    <div class="recipeCookingTypeItem">
        <img src="air-fryer.svg" alt="Air fryer">
        <h4>Type de cuisson</h4>
        <p>Air fryer</p>
    </div>
}

@if(cookingType() === 'barbecue') {
    <div class="recipeCookingTypeItem">
        <img src="bbq.svg" alt="Barbecue">
        <h4>Type de cuisson</h4>
        <p>Barbecue</p>
    </div>
}
