<nav class="recipesFilter">
    <h2>Recipes</h2>

    <div class="filtersList">
        @for (filter of recipesFilter(); track filter.id) {
            <ul class="navFilters" [id]="'filter' + filter.id">
                <li [appShowRecipesFilter]="'filter' + filter.id">
                    <h3>{{ filter.title }}</h3>
                    <div>
                        <hr>
                        <hr class="verticalLine">
                    </div>
                </li>
                <li class="navFiltersListItem">
                    <ul>
                        @for (item of filter.items; track item.id) {
                            <li [id]="'filterItem' + item.id">
                                <label [for]="item.value">
                                    <input type="checkbox" [name]="item.value" [id]="item.value">
                                    {{ item.title }}
                                </label>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        }
    </div>
</nav>
