nav {  
    width: 280px;
    padding: 0 2rem 0 0;

    h2 {
        margin-bottom: 2.5rem;
    }

    .navFilters {
        & > li:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            div {
                height: 14px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                //border: 1px solid red;

                hr {
                    width: 14px;
                    border: 1px solid black;
                }

                hr.vertical {
                    transform: rotate(90deg) translateX(-2px);
                }   
            }
        }

        & > li:last-child {
            margin-left: 1rem;
            ul li {
                padding: 1rem 0;
            }
        }
    }
}