<nav class="recipesFilter">
    <div class="filterHeader">
        <h2>Filtres</h2>
        <button type="button" appShowRecipesFilter btnType="burger">
            <span class="burgerFirstLine"></span>
            <span class="burgerSecondLine"></span>
        </button>
    </div>

    <div class="filtersList">
        @for (filter of recipesFilter(); track filter.id) {
            <ul class="navFilters" [id]="'filter' + filter.id">
                <li [appShowRecipesFilter]="'filter' + filter.id" btnType="plus">
                    <h3>{{ filter.title }}</h3>
                    <button type="button">
                        <span class="horizontalLine"></span>
                        <span class="verticalLine"></span>
                    </button>
                </li>
                <li class="navFiltersListItem">
                    <ul>
                        @for (item of filter.items; track item.id) {
                            <li [id]="'filterItem' + item.id">
                                <label [for]="item.value">
                                    <input type="checkbox" [name]="item.value" [id]="item.value">
                                    {{ item.title }}
                                </label>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        }
    </div>
</nav>
