@use './variables' as *;

@mixin gridRecipes($columns) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem;
    //grid-auto-flow: row | column | row dense | column dense;
}

@mixin socialNetworks(
    $justify, 
    $marginUl, 
    $marginLi,
    $color1,
    $color2,
    $color3
) {
    $sizeShareIcons: 40px;

    ul.socialNetworks {
        display: flex;
        justify-content: $justify;
        margin: $marginUl;

        @media only screen and (max-width: 767px) {
            justify-content: center;
        }
    
        li, li a {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        li {
            width: $sizeShareIcons;
            height: $sizeShareIcons;
            margin: $marginLi;
            //margin-right: 1.5rem;
            border-radius: 3rem;
    
            img {
                height: 22px;
            }
        }
    
        app-social-networks:nth-child(1) li {
            border: 2px solid $color1;
        }
        app-social-networks:nth-child(2) li {
            border: 2px solid $color2;
        }
        app-social-networks:nth-child(3) li {
            border: 2px solid $color3;
        }
    }
}

@mixin arrowsSelectStyle($bgColor: $firstColor, $color, $isTall: false) {
    background-color: $bgColor;
    color: $color;

    border: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
        linear-gradient(45deg, transparent 50%, $color 50%),
        linear-gradient(135deg, $color 50%, transparent 50%),
        linear-gradient(45deg, transparent 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, $color 50%),
        linear-gradient(225deg, transparent 50%, $color 50%);
    @if $isTall {
        background-position:
            calc(100% - 20px) calc(18px + 8px),
            calc(100% - 15px) calc(18px + 8px),
            calc(100% - 40px) 16px,
            calc(100% - 20px) calc(20px + -2px),
            calc(100% - 15px) calc(20px + -2px),
            calc(100% - 40px) 16px;
    } @else {
        /* background-position:
            calc(100% - 20px) calc(15px + 8px),
            calc(100% - 15px) calc(15px + 8px),
            calc(100% - 2.5em) 16px,
            calc(100% - 20px) calc(17px + -2px),
            calc(100% - 15px) calc(17px + -2px),
            calc(100% - 2.5em) 16px; */
        background-position: 
            calc(100% - 20px) 28px, 
            calc(100% - 15px) 28px, 
            calc(100% - 2.5em) 16px, 
            calc(100% - 20px) 19px, 
            calc(100% - 15px) 19px, 
            calc(100% - 2.5em) 16px;
    }
    background-size:
        5px 5px,
        5px 5px;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
        width: 100%;
        padding: 0;

        background-position: 
            calc(100% - 20px) 28px, 
            calc(100% - 15px) 28px, 
            calc(100% - 2.5em) 16px, 
            calc(100% - 20px) 19px, 
            calc(100% - 15px) 19px, 
            calc(100% - 2.5em) 16px;

        background-size:
            5px 5px,
            5px 5px;
    }
}

@mixin svgStyle($size, $color) {
    svg {
        width: $size;
        height: $size;
        fill: $color;
    }
}