@use './variables' as *;

@mixin gridRecipes($columns) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem;
    //grid-auto-flow: row | column | row dense | column dense;
}

@mixin socialNetworks(
    $justify, 
    $marginUl, 
    $marginLi, 
    $color2,
) {
    $sizeShareIcons: 40px;

    ul.socialNetworks {
        display: flex;
        justify-content: $justify;
        margin: $marginUl;
    
        li, li a {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        li {
            width: $sizeShareIcons;
            height: $sizeShareIcons;
            margin: $marginLi;
            //margin-right: 1.5rem;
            border-radius: 3rem;
    
            img {
                height: 22px;
            }
        }
    
        li:nth-child(1) {
            border: 2px solid $facebook;
        }
        li:nth-child(2) {
            border: 2px solid $color2;
        }
        li:nth-child(3) {
            border: 2px solid $x-twitter;
        }
    }
}