$black: #010101;
$darkGrey: #5A5A5A;
$mediumGrey: #848484;
$lightGrey: #F4F4F4;
$lightBrown: #F9F6F5;

$firstColor: #EB4A37;
$secondColor: orange;
$thirdColor: #F1CB36;

$facebook: #0866ff;
$linkedin: #0a66c2;
$x-twitter: black;