@use '../../utils/variables' as *;

$sizeImg: 500px;

.recipePresentation {
    width: 1216px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .wrapperImage {
        width: 45%;
        height: $sizeImg;
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        overflow: hidden;

        img {
            width: auto;
            height: $sizeImg;
        }
    }

    .recipeDescription {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > p {
            margin: 2rem 0 1rem 0;
            color: $darkGrey;
            line-height: 1.5;
        }

        .recipeTime {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: .5rem;

            hr {
                margin: 1rem 0;
            }
        }

        hr {
            border: 1px solid $lightGrey;
        }

        .recipeDescriptionEnd {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
    
            ul:first-child {
                width: 50%;
    
                li:last-child p {
                    color: $darkGrey;
                }
    
                span { 
                    color: $firstColor;
                }
            }
    
            ul:last-child {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
    
                img {
                    height: 24px;
                }
    
                li {
                    margin-left: 1rem;
                }
    
                li:first-child {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid $mediumGrey;
                    border-radius: 2rem;
    
                    img {
                        height: 16px;
                    }
                }
            }
        }
    }

    
    
}