<div class="favoriteButton">
    <button type="button" [class]="isFavorite() ? 'addFavoriteBtn hide' : 'addFavoriteBtn show'" (click)="addFavorite()">
        <app-heart-border-icon />
    </button>

    <button type="button" [class]="isFavorite() ? 'removeFavoriteBtn show' : 'removeFavoriteBtn hide'" (click)="deleteFavorite()">
        <app-heart-icon />
    </button>
</div>

<a [routerLink]="'/recettes/' + id() + '/' + slugify.slugifyString(name())">
    <div class="recipeItem" [id]="id()">
        <div>
            <div class="wrapperImg">
                <img [src]="picture()" [alt]="'Image de la recette ' + name()">
            </div>
        </div>

        <h4>{{ name() }}</h4>

        <ul>
            <li>
                <img src="star.svg" alt="icon star">
                <p>{{ noteAverage }}({{ numberOfNote }})</p>
            </li>
            <li>
                by {{ authorName() }}
            </li>
        </ul>
    </div>
</a>

