<table class="stepsIngredientsList stepsIngredientsList__ingredientsList">
    <thead>
    <tr>
        @for (itemHead of headList; track $index) {
            <th>{{ itemHead }}</th>
        }
        <th>Supprimer</th>
    </tr>
    </thead>
    <tbody>
        @if (bodyList.length < 1) {
            <tr class="tableRowEmpty">
                <td>Aucun élément créé</td>
            </tr>
        } @else {
            @for (itemBody of bodyList.controls; track $index) {
                @if(typeTable === 'ingredient') {
                    <tr>
                        <td>{{ itemBody.value.quantity }}</td>
                        <td>{{ getIngredientUnit(itemBody) }}</td>
                        <td>{{ itemBody.value.name }}</td>
                        <td>
                            <button type="button" (click)="removeFunc()">
                                <app-delete-icon />
                            </button>
                        </td>
                    </tr>
                }

                @if(typeTable === 'step') {
                    <tr>
                        <td>{{ itemBody.value.number }}</td>
                        <td>{{ itemBody.value.stepName }}</td>
                        <td>
                            <button type="button" (click)="removeFunc()">
                                <app-delete-icon />
                            </button>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
