<app-multiple-inputs
    labelTitle="Type de cuisson :"
    inputId="cookingTypeInputs"
    [required]="true">
    <ul class="cookingTypeInputs">
        @for (type of cookingTypeList(); track type.id) {
            <li [class]="type.checked ? 'liTypeCooking selectedType' : 'liTypeCooking'">
                <label [for]="type.inputId">
                    <div>
                        <img [src]="type.image" [alt]="type.altImage">
                        <p>{{ type.title }}</p>
                    </div>
                    <input type="checkbox"
                        [id]="type.inputId"
                        [name]="type.inputId"
                        [value]="type.value"
                        [(ngModel)]="type.checked"
                        (ngModelChange)="onCheckboxChange(type)"
                        (input)="onInput($event)"
                        [required]="type.required" />
                </label>
            </li>
        }
    </ul>
</app-multiple-inputs>
