<li>
    <a [href]="link()" target="_blank">
        <img [src]="pathImg()" [alt]="altImg()">
    </a>
</li>

<!-- <ul class="socialNetworks">
    <li>
        <a [href]="link()" target="_blank">
            <img [src]="pathImg()" [alt]="altImg()">
        </a>
    </li>
    <li>
        <a [href]="link()" target="_blank">
            <img [src]="pathImg()" [alt]="altImg()">
        </a>
    </li>
    <li>
        <a [href]="link()" target="_blank">
            <img [src]="pathImg()" [alt]="altImg()">
        </a>
    </li>
</ul> -->