<div class="formInputDiv" [id]="id()">
    <label [for]="inputId()">
        {{ label() }} : <span *ngIf="required()" style="color: #EB4137">*</span>
    </label>

    @if(type()) {
        <input [type]="type()" 
            [id]="inputId()" 
            [name]="inputId()" 
            [placeholder]="label()"
            [required]="required()"
            [value]="value()" />
    } @else {
        <textarea [name]="inputId()" 
            [id]="inputId()" 
            [rows]="10"
            [placeholder]="label()"
            maxlength="250"
            [required]="required()"
            [value]="value()"
            style="resize: none;"></textarea>
    }
</div>