<div class="searchPage">
    <section class="searchSection">
        <app-search-form selectId="sortRecipesSearch" />
    </section>

    <section class="recipesListSearchSection">
        <div class="recipesListSearch">
            @for (recipe of recipesList(); track recipe.id;) {
                <app-recipe-item
                    [id]="recipe.id"
                    [picture]="recipe.imageName"
                    [name]="recipe.name"
                    [numberOfVotes]="0"
                    [authorName]="'totoEnTest'"
                />
                <!--
                    [authorName]="recipe.authorId"
                    [numberOfVotes]="recipe.opinions?.length"
                -->

                <!--[average]="getRecipeAverage(recipe.id)"-->
            }
        </div>

        <app-page-slider />
    </section>

</div>
