<div class="searchPage">
    <section class="searchSection">
        <app-search-form selectId="sortRecipesSearch" />
    </section>

    <section class="recipesListSearchSection">
        <div class="recipesListSearch">
            @for (recipe of recipesList(); track recipe.id;) {
                <app-recipe-item
                    [id]="recipe.id"
                    [picture]="recipe.image"
                    [name]="recipe.title"
                    [numberOfVotes]="recipe.opinions?.length"
                    [authorName]="recipe.author.username"
                />
                <!--[average]="getRecipeAverage(recipe.id)"-->
            }
        </div>

        <app-page-slider />
    </section>

</div>
