<div class="searchPage">
    <section class="searchSection">
        <app-search-form
            selectId="sortRecipesSearch"
            (search)="onSearch($event)"
        />
    </section>

    <p *ngIf="error">{{ error }}</p>

    <section class="recipesListSearchSection">
        <div class="recipesListSearch" *ngIf="getAllRecipes.length > 0">
            @for (recipe of getAllRecipes; track $index) {
                <app-recipe-item
                    [id]="recipe.id"
                    [picture]="recipe.imageName"
                    [name]="recipe.name"
                    [average]="getRecipeAverage(recipe.id)"
                    [numberOfVotes]="getNumberOfComments(recipe.id)"
                    [authorName]="getUser()[$index].username"
                    [recipeId]="recipe.id"
                    [userId]="recipe.authorId"
                    [isFavorite]="favoritesMap()[recipe.id] ?? false"
                    (favoriteAdded)="addFavorite(recipe.id)"
                    (favoriteDeleted)="deleteFavorite(recipe.id)"
                />
            }
        </div>
    </section>

</div>
