<div class="homePage">
    <section class="subHeader">
        <div class="topHomePage">
            <h1>Choose from thousands of recipes</h1>
            <p>Appropriately integrate technically sound value with scalable infomediaries negotiate sustainable strategic theme areas</p>
            <button type="button" class="btn-transparent btn-bold btn-white">
                Sign up today
                <img src="arrow-right.svg" alt="arrow right">
            </button>
        </div>
    </section>

    <section class="homeRecipesSection">
        <app-recipes-filter />
        <form class="searchFormComponent recipesSearchForm">
            <label for="recipesSearch">
                <button type="button">
                    <app-search-icon />
                </button>
                <input type="text" name="recipesSearch" id="recipesSearch" placeholder="Search for recipes...">
            </label>
        </form>
        <app-sort-by-select selectId="sortRecipes" />

        <div class="recipesContainer">
            <div class="recipesList">
                @for (recipe of recipesList(); track recipe.id;) {
                    <app-recipe-item
                        [id]="recipe.id"
                        [picture]="recipe.image" 
                        [name]="recipe.title" 
                        [average]="getRecipeAverage(recipe.id)" 
                        [numberOfVotes]="recipe.opinions?.length"
                        [authorName]="recipe.author.username"
                    />
                }
            </div>

            <app-page-slider />
        </div>

    </section>

    <section class="videosSection">
        <div class="videosTitle">
            <h2>Dernière vidéo</h2>

            <!-- <app-sort-by-select selectId="sortVideos" /> -->
            <a href="/accueil" class="btn-bg-red">
                <app-play-icon />
                Voir toutes les vidéos
            </a>
        </div>

        <div class="videoWrapper" appVideosSlider>
            <youtube-player videoId="4sm39CWrmns" />
        </div>
    </section>

    <section class="newsletterSection">
        <h2>Soyez le premier informé des nouvelles recettes tendance et plus encore !</h2>

        <form method="post">
            <input type="text" name="newsletterEmail" email="newsletterEmail" placeholder="Adresse mail" required>
            <button type="submit">Recevoir la newsletter</button>
        </form>
    </section>
</div>