<div class="homePage">
    <section class="subHeader">
        <div class="topHomePage">
            <h1>Choose from thousands of recipes</h1>
            <p>Appropriately integrate technically sound value with scalable infomediaries negotiate sustainable strategic theme areas</p>
            <button type="button" class="btn-transparent btn-bold btn-white">
                Sign up today
                <img src="arrow-right.svg" alt="arrow right">
            </button>
        </div>
    </section>

    <section class="homeRecipesSection">
        <app-recipes-filter />
        <form class="searchFormComponent recipesSearchForm">
            <label for="recipesSearch">
                <button type="button">
                    <app-search-icon />
                </button>
                <input type="text" name="recipesSearch" id="recipesSearch" placeholder="Search for recipes...">
            </label>
        </form>
        <app-sort-by-select selectId="sortRecipes" />

        <div class="recipesContainer">
            <div class="recipesList">
                @for (recipe of recipesList(); track recipe.id;) {
                    <app-recipe-item
                        [id]="recipe.id"
                        [picture]="recipe.image" 
                        [name]="recipe.title" 
                        [average]="getRecipeAverage(recipe.id)" 
                        [numberOfVotes]="recipe.opinions?.length"
                        [authorName]="recipe.author.username"
                    />
                }
            </div>

            <app-page-slider />
        </div>

    </section>

    <section class="videosSection">
        <h2>Videos</h2>

        <app-sort-by-select selectId="sortVideos" />

        <div class="videosSliderWrapper">
            <app-chevron-down-icon />
            <div class="wrapperVideos">
                <!-- <p>{{ videosList() | json }}</p> -->
                <ul class="videosList">
                    @for (item of videosList(); track item.id) {
                        <li class="videoItem" [id]="`video${item.id}`">
                            <iframe [src]="item.link" 
                                class="e2e-trusted-url"
                                title="YouTube video player" 
                                frameborder="0" 
                                allow="clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                referrerpolicy="strict-origin-when-cross-origin"></iframe>
                        </li>
                    }
                </ul>
            </div>
            <app-chevron-down-icon />
        </div>
    </section>

    <section class="newsletterSection">
        <h2>Be the first to know about the latest deals, receive new trending recipes & more</h2>

        <form method="post">
            <input type="text" name="newsletterEmail" email="newsletterEmail" placeholder="Email Address">
            <button type="submit">Subscribe</button>
        </form>
    </section>
</div>

<!--
Angular 19 : j'ai mis sur mon site 4 videos youtube avec iframe. J'ai également injecté DomSanitizer et importé 

-->