<div class="mainLayout">
    <header>
        <ul class="navigationLeft">
            <li class="navigationItem active">Home</li>
            <li class="navigationItem">Recipe</li>
            <li class="navigationItem">Search</li>
            <li class="navigationItem">Contact</li>
        </ul>

        <div class="navigationRight">
            <img src="search.svg" alt="search icon">
            <button class="btn-transparent" type="button">Sign In</button>
            <button class="btn-bg btn-bg-red" type="button">Sign Up</button>
        </div>
    </header>

    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <div class="linksFooter">
            <ul>
                <li>
                    <a href="">Presentations</a>
                </li>
                <li>
                    <a href="">Professionals</a>
                </li>
                <li>
                    <a href="">Stores</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">Webinars</a>
                </li>
                <li>
                    <a href="">Workshops</a>
                </li>
                <li>
                    <a href="">Local Meetups</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">Our Initiatives</a>
                </li>
                <li>
                    <a href="">Giving Back</a>
                </li>
                <li>
                    <a href="">Communities</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">Contact Form</a>
                </li>
                <li>
                    <a href="">Work With Us</a>
                </li>
                <li>
                    <a href="">Visit Us</a>
                </li>
            </ul>
        </div>

        <p>Made by in Guatemala City.</p>
    </footer>
</div>