<div class="mainLayout">
    <header>
        <ul class="navigationLeft">
            <li class="navigationItem">
                <a 
                    routerLink="/home" 
                    routerLinkActive="active" 
                    ariaCurrentWhenActive="page">Home</a>
            </li>
            <li class="navigationItem">
                <a 
                    routerLink="/recipe" 
                    routerLinkActive="active" 
                    ariaCurrentWhenActive="page">Recipe</a>
            </li>
            <li class="navigationItem">
                <a 
                    routerLink="/search" 
                    routerLinkActive="active" 
                    ariaCurrentWhenActive="page">Search</a>
            </li>
            <li class="navigationItem">
                <a 
                    routerLink="/contact" 
                    routerLinkActive="active" 
                    ariaCurrentWhenActive="page">Contact</a>
            </li>
        </ul>

        <div class="navigationRight">
            <img src="search.svg" alt="search icon">

            <a 
                class="btn-transparent"
                routerLink="/connection" 
                ariaCurrentWhenActive="page">Sign In</a>
            <a 
                class="btn-bg btn-bg-red"
                routerLink="/connection"
                ariaCurrentWhenActive="page">Sign Up</a>
        </div>
    </header>

    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <div class="linksFooter">
            <ul>
                <li>
                    <a href="">Presentations</a>
                </li>
                <li>
                    <a href="">Professionals</a>
                </li>
                <li>
                    <a href="">Stores</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">Webinars</a>
                </li>
                <li>
                    <a href="">Workshops</a>
                </li>
                <li>
                    <a href="">Local Meetups</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">Our Initiatives</a>
                </li>
                <li>
                    <a href="">Giving Back</a>
                </li>
                <li>
                    <a href="">Communities</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">Contact Form</a>
                </li>
                <li>
                    <a href="">Work With Us</a>
                </li>
                <li>
                    <a href="">Visit Us</a>
                </li>
            </ul>
        </div>

        <p>Made by in Guatemala City.</p>
    </footer>
</div>