<div class="mainLayout">
    <header>
        <ul class="navigationLeft">
            <li class="navigationItem">
                <a 
                    routerLink="/accueil" 
                    routerLinkActive="active" 
                    ariaCurrentWhenActive="page">Accueil</a>
            </li>
            <li class="navigationItem">
                <a 
                    routerLink="/recettes" 
                    routerLinkActive="active" 
                    ariaCurrentWhenActive="page">Recettes</a>
            </li>
            <li class="navigationItem">
                <a 
                    routerLink="/search" 
                    routerLinkActive="active" 
                    ariaCurrentWhenActive="page">Rechercher</a>
            </li>
            <li class="navigationItem">
                <a 
                    routerLink="/contact" 
                    routerLinkActive="active" 
                    ariaCurrentWhenActive="page">Contact</a>
            </li>
        </ul>

        <div class="navigationRight">
            <img src="search.svg" alt="search icon">

            <a 
                class="btn-transparent"
                routerLink="/connexion" 
                routerLinkActive="active" 
                ariaCurrentWhenActive="page">Connexion</a>
            <a 
                class="btn-bg btn-bg-red"
                routerLink="/inscription"
                routerLinkActive="active" 
                ariaCurrentWhenActive="page">Inscription</a>
        </div>
    </header>

    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <ul class="socialNetworks">
            @for (social of socialNetworksList(); track $index) {
                <app-social-networks 
                    [link]="social.href"
                    [pathImg]="social.path"
                    [altImg]="social.altImg" />
            }
        </ul>
        
        <div class="linksFooter">
            <ul>
                <li>
                    <a href="">Presentations</a>
                </li>
                <li>
                    <a href="">Professionals</a>
                </li>
                <li>
                    <a href="">Stores</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">Webinars</a>
                </li>
                <li>
                    <a href="">Workshops</a>
                </li>
                <li>
                    <a href="">Local Meetups</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">Our Initiatives</a>
                </li>
                <li>
                    <a href="">Giving Back</a>
                </li>
                <li>
                    <a href="">Communities</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">Contact Form</a>
                </li>
                <li>
                    <a href="">Work With Us</a>
                </li>
                <li>
                    <a href="">Visit Us</a>
                </li>
            </ul>
        </div>

        <p>Made by in Guatemala City.</p>
    </footer>
</div>